<template>
	<div class="messagea">
		<MessagesTop />
		<MessagesMiddle />
		<MessagesBottom />
		<MessagesOther />
	</div>
</template>
   
<script>
import MessagesTop from './MessagesTop.vue';
import MessagesMiddle from './MessagesMiddle.vue';
import MessagesBottom from './MessagesBottom.vue';
import MessagesOther from './MessagesOther.vue';
export default {
	name: "messages",
	components: { MessagesTop, MessagesMiddle, MessagesBottom, MessagesOther },
	data() {
		return {
			
		};
	},
	methods: {},
}
</script>
   
<style lang="less" scoped></style>