<template>
	<div class="mes_bottom">
		<div class="mes_bot_box">
			<div class="mes_bot_inp">
				<input type="text" placeholder="Ecrire un messages …">
			</div>
			<button class="mes_bot_btn">
				<a-icon type="paper-clip" style="font-size: 24px;" />
			</button>
		</div>
	</div>
</template>

<style lang="less" scoped>
.mes_bottom {
	position: relative;
	width: 100%;
	height: 86px;
	background-color: #dadede;

	.mes_bot_box {
		position: absolute;
		top: 9px;
		right: 41px;
		width: 55%;
		height: 55px;
		display: flex;

		.mes_bot_inp {
			width: 75%;
			height: 55px;
			padding: 7px 7px;


			input {
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
			}
		}

		.mes_bot_btn {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			margin: 5px 20px;
			border: none;
		}
	}
}
</style>