<template>
	<div class="other">
		<div class="other_top"></div>
		<div class="other_bottom"></div>
	</div>
</template>

<style lang="less" scoped>
	.other{
		margin-top: 20px;
		.other_top{
			width: 100%;
			height: 86px;
			background-color: #DADEDE;
		}
		.other_bottom{
			height: 300px;
		}
	}
</style>