<template>
	<div class="mes_middle">
		<div class="mes_middle_left">
			<MessagesItem :friends="this.friends"/>
		</div>
		<div class="mes_middle_right">
			<div class="middle_box">
				<div class="one">
					<div class="one_left">
						<span>12.nov.09:11</span>
						<MessagesMe :msg="this.mesOne"/>
					</div>
					<div class="one_right">
						<img src="@/assets/Source/images/资源 28main.png" alt="image">
					</div>
				</div>
				<div class="two">
					<div class="two_left">
						<img src="@/assets/Source/images/资源 29main.png" alt="image">
					</div>
					<div class="two_right">
						<span>12.nov.09:15</span>
						<MessagesYou :msg="this.mesTwo"/>
					</div>
				</div>
				<div class="one">
					<div class="one_left">
						<span>12.nov.09:23</span>
						<MessagesMe :msg="this.mesThree"/>
					</div>
					<div class="one_right">
						<img src="@/assets/Source/images/资源 28main.png" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import MessagesItem from './MessagesItem.vue';
import MessagesMe from './MessagesMe.vue';
import MessagesYou from './MessagesYou.vue';
export default{
	components: { MessagesItem,MessagesMe, MessagesYou },
	data(){
		return{
			friends: [
				{ name: 'Jaqueline DUBREUIL', imgUrl:require('@/assets/Source/images/资源 28main.png'), chat: 'Je suls arrlve a retrouver …', num: '4', timer: '23 nov.' },
				{ name: 'LAN Ting', imgUrl:require('@/assets/Source/images/资源 29main.png'), chat: 'Je souhalte venir …', num: '1', timer: '02 sept.' },
				{ name: 'ASSISTANCE PASHA', imgUrl:require('@/assets/Source/images/资源 28main.png'), chat: 'II paralt que tu ne peux pas …', num: '6', timer: '14 oct.' },
				{ name: 'ASSISTANCE E-ART', imgUrl:require('@/assets/Source/images/资源 29main.png'), chat: 'Vous avez souhaitez contacter … ', num: '0', timer: '10 auto.' },
				{ name: 'Dominique MOULON', imgUrl:require('@/assets/Source/images/资源 28main.png'), chat: 'Depuis 3 mois, je suis tres …', num: '3', timer: '8 nov.' },
				{ name: 'Jacques Maly', imgUrl:require('@/assets/Source/images/资源 29main.png'), chat: 'J al blen recu votre doc …', num: '0', timer: '1 nov.' },
				{ name: 'Paul ducon', imgUrl:require('@/assets/Source/images/资源 28main.png'), chat: 'Je ne vals pas pouvolr vous …', num: '0', timer: '6 nov.' },
			],
			mesOne:'Le format sur whatsapp est jpeg. Pourraistu my envoyer un png ou svg par emaill ? Ou le zipper avant envole sur whatapp.',
			mesTwo:'HMoise Bernard, I am Maureen an English tutor. I saw you recenty vlewed liprofle and Ihope you like what you saw. If you are ever in need of help with English, I am available and would love to help you. Feel free to book a lesson! My schedule liopen for you to book at anytime. Hope limeet you soon! Take care.',
			mesThree:'Le format sur whatsapp est jpeg. Pourraistu my envoyer un png ou svg par emaill ? ou le zipper avant envole sur whatapp.',
		}
	}
}
</script>

<style lang="less" scoped>
	.mes_middle{
		display: flex;
		border-bottom: 2px solid #B1B2B3;
	    background: #dadede;
		.mes_middle_left{
			width: 40%;

		}

		.mes_middle_right{
			width: 55%;
			background-color: #EEEFF0;

			.middle_box{
				height: 435px;
				margin-top: 20px;
				margin-left: 10px;

				.one{
					float: right;
					width: 387px;
					display: flex;
					margin-top: 10px;

					.one_left{
						margin-left: 2px;
						span{
							font-weight: 600;
						}
					}

					.one_right{
						width: 40px;
						height: 40px;
						margin-left: 2px;

						img{
							width: 100%;
							height: 100%;
						}
					}
				}

				.two{
					float: left;
					width: 387px;
					display: flex;
					margin-top: 10px;

					.two_right{
						margin-left: 2px;
						span{
							font-weight: 600;
							margin-left: 252px;
						}
					}

					.two_left{
						width: 40px;
						height: 40px;
						margin-left: 2px;

						img{
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
</style>