<template>
	<div class="mes_you">
		<div class="mes_me_title">{{ msg }}</div>
		<div class="mes_me_box"></div>
		<div class="mes_me_box1"></div>
	</div>
</template>

<script>
export default{
	props:['msg']
}
</script>

<style lang="less" scoped>
.mes_you {
	position: relative;
	width: 340px;

	.mes_me_title {
		width: 300px;
		min-height: 30px;
		border: 1px solid #DCDDDE;
		border-radius: 5px;
		word-break: break-word;
		font-weight: 600;
		box-shadow: 3px 5px 8px 4px #bcbebe;
		margin-left: 38px;
		padding: 3px 6px;
		font-size: 12px;
	}

	.mes_me_box {
		position: absolute;
		top: 0;
		left: 2px;
		width: 39px;
		height: 22px;
		border-top: 1px solid #DCDDDE;
		background-color: #EEEFF0;

	}

	.mes_me_box1 {
		position: absolute;
		top: 10px;
		left: -4px;
		width: 45px;
		height: 2px;
		border-top: 1px solid #DCDDDE;
		background-color: #bcbebe;
		box-shadow: -1px 2px 6px 2px #bcbebe;
		transform: rotate(28deg);
	}

}
</style>