<template>
	<div class="mes_top">
			<div class="mes_top_left">
				<input type="text" name="search" id="search" placeholder="Recherche par nom …">
			</div>
			<div class="mes_top_right">
				<div class="mes_top_right_img">
					<img src="@/assets/Source/images/资源 29main.png" alt="image">
					<div class="mes_top_img_box">
						<span>3</span>
					</div>
				</div>
				<div class="mes_top_right_checkbox">
					<label for="user">Dominique MOULON<input type="checkbox" name="user" id="check" checked="true"></label>
				</div>
				<div class="mes_top_right_icon">
					<a-icon type="file" style="font-size: 28px; color: red;" />
					<a-icon type="heart" style="font-size: 28px;margin-left: 10px;" />
				</div>
			</div>
		</div>
</template>

<style lang="less" scoped>
.messagea {
	// width: 874.73px;

	.mes_top {
		position: relative;
		width: 100%;
		height: 86px;
		background-color: #dadede;
		border-bottom: 2px solid #B1B2B3;

		.mes_top_left {
			position: absolute;
			top: 20px;
			left: 45px;
			width: 40%;
			height: 45px;
			padding: 6px 10px;
			background-color: #FFFFFF;

			#search {
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
			}
		}

		.mes_top_right {
			position: absolute;
			top: 12px;
			right: 30px;
			display: flex;
			width: 45%;
			height: 60px;

			.mes_top_right_img {
				position: relative;
				width: 60px;
				height: 60px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 26px;
				}

				.mes_top_img_box {
					position: absolute;
					top: -5px;
					right: -2px;
					width: 16px;
					height: 16px;
					line-height: 16px;
					text-align: center;
					border-radius: 50%;
					font-size: 12px;
					font-weight: 500;
					background-color: red;
					color: #fff;
				}
			}

			.mes_top_right_checkbox {
				width: 185px;
				height: 30px;
				margin-top: 20px;
				margin-left: 10px;
				font-size: 16px;
				font-weight: 700;

				#check {
					margin-left: 10px;

				}
			}

			.mes_top_right_icon {
				width: 70px;
				height: 28px;
				margin-left: 20px;
				margin-top: 16px;
			}

		}
	}
}
</style>