<template>
	<div>
		<div class="mes_item" v-for="item in friends">
			<div class="mes_item_img">
				<!-- <img src="@/assets/Source/images/资源 28main.png" alt="image"> -->
				<img :src="item.imgUrl" alt="image">
				<div class="box" v-show="item.num != 0 ? true : false">{{ item.num }}</div>
			</div>
			<div class="mes_item_title">
				<p class="names">{{ item.name }}</p>
				<p class="chat">{{ item.chat }}</p>
			</div>
			<div class="mes_item_timer">{{ item.timer }}</div>
		</div>
	</div>
</template>

<script>
export default {
	props: ['friends'],
	created() {
		this.list()
	},
	methods: {
		list() {
			console.log(this.friends);
		}
	}
}
</script>

<style lang="less" scoped>
.mes_item {
	position: relative;
	display: flex;
	height: 80px;
	border-left: 1px solid #B1B2B3;
	border-bottom: 2px solid #B1B2B3;
	border-right: 2px solid #B1B2B3;
    background: #fff;
	.mes_item_img {
		position: relative;
		width: 80px;
		height: 80px;
		padding: 9px 9px;

		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}

		.box {
			position: absolute;
			top: 6px;
			left: 8px;
			width: 15px;
			height: 15px;
			line-height: 15px;
			text-align: center;
			background-color: red;
			color: #fff;
			font-size: 12px;
			border-radius: 50%;
		}

	}

	.mes_item_title {
		height: 50px;
		margin-top: 22px;

		p {
			padding: 0;
			margin: 0;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
		}

		.names {
			font-weight: 800;

		}
	}

	.mes_item_timer {
		position: absolute;
		top: 7px;
		right: 16px;
		color: #636466;
		font-weight: 600;
	}
}

.mes_item:nth-child(5) {
	background-color: #797A7D;
	color: #fff;
}
.mes_item:last-child {
	border-bottom: none;
}
</style>