<template>
  <div>
    <div style="background: #dadede; height: 1000px; padding: 20px">
      <Title tit="MES COURS RESERVES ET REGLES"
        >Felicitation ! Vous avez un programme qui va vous permettre de bien
        vous perfectionner dansvotre pratique et connaissance de la cration.
        Vous pouvez voir le planning de voscours reserves directement dans votre
        planning personnel.</Title
      >
      <Card vid="aaa" color="#008cc1"> COURS FRANCAIS </Card>
      <Card vid="aaa" color="#008cc1" style="margin-top: 20px">
        COURS FRANCAIS
      </Card>
      <Card vid="aaa" color="#f8ad9e" style="margin-top: 20px">
        COURS FRANCAIS
      </Card>
    </div>

    <div
      style="
        background: #dadede;
        height: 540px;
        padding: 20px;
        margin-top: 10px;
      "
    >
      <Title tit="MES 《LIKES》MES COUPS DE CCEUR"
        >Tous vos coups de coeur sont rassembles ici : :</Title
      >
      <Card vid="aaa" color="#97c940"> COURS FRANCAIS </Card>
      <div
        style="
          width: 180px;
          height: 50px;
          background: #0f1b41;
          color: #fff;
          line-height: 50px;
          font-size: 20px;
          text-align: center;
          margin-top: 40px;
        "
      >
        AFFICHER PLUS
      </div>
    </div>

    <div
      style="
        background: #dadede;
        height: 340px;
        padding: 20px;
        margin-top: 10px;
      "
    >
      <Title tit="MES COURS PASSES - ARCHIVES"
        >tous les cours que vous avez suivis sont classes dans cette
        rubrique.</Title
      >
      <p style="color: red; font-weight: bold; font-size: 18px">
        VOUS N'AVEZ PAS ENCORE DE COURS TERMINES
      </p>
    </div>
  </div>
</template>

<script>
import Card from "@/components/common/card.vue";
import Title from "@/components/common/title.vue";
export default {
  name: "cours",
  components: {
    Card,
    Title,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
</style>