<template>
  <div style="padding: 10px 20px">
    <p
      style="
        color: #fff;
        font-size: 27px;
        font-weight: bolder;
        text-align: center;
        margin: 0;
      "
    >
      MON CAHIER DE BORD
    </p>
    <div style="text-align: right; margin: 10px 0">
      <span
        style="
          text-align: center;
          width: 120px;
          height: 28px;
          color: #fff;
          border-radius: 15px;
          background: #f1582d;
          line-height: 28px;
          font-size: 12px;
          display: inline-block;
        "
      >
        <a-icon type="phone" style="font-size: 14px" />
        ASSISTANCE
      </span>
    </div>
    <div
      style="
        width: 100%;
        height: 34px;
        line-height: 34px;
        background: rgb(218, 222, 222);
        margin: auto;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin-bottom: 10px;
      "
    >
      MON PLANNING
    </div>
    <div style="color: #fff; font-size: 12px; margin-bottom: 10px">
      Votre planning est videil se remplira automati-quement lorsque vous
      reserverz des cours
    </div>
    <div>
      <div
        style="
          width: 100px;
          height: 25px;
          background: red;
          color: #fff;
          font-weight: bold;
          text-align: center;
          line-height: 25px;
          display: inline-block;
          margin-right: 15px;
        "
      >
        <a-icon type="left" />
        MOIS
        <a-icon type="right" />
      </div>
      <div
        style="
          width: 100px;
          height: 25px;
          background: #fff;
          color: #000;
          font-weight: bold;
          text-align: center;
          line-height: 25px;
          display: inline-block;
          margin-bottom: 15px;
        "
      >
        <a-icon type="left" />
        SEMAINE
        <a-icon type="right" />
      </div>
      <table class="table">
        <tr>
          <th>NOV</th>
          <th>lu</th>
          <th>MA</th>
          <th>ME</th>
          <th>JE</th>
          <th>VE</th>
          <th>SA</th>
          <th>Dl</th>
        </tr>
        <tr>
          <td>1/7-Nov</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>8/14-Nov</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>15/21-Nov</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>22/28-Nov</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>29/4-Dec</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="8" align="center" valign="middle">
            Selon votre fuseau horaire : Europe/Paris (UTC + 01/00
          </td>
        </tr>
      </table>
    </div>

    <div>
      <div
        style="
          width: 100%;
          height: 34px;
          line-height: 34px;
          background: rgb(218, 222, 222);
          margin: auto;
          font-weight: bold;
          text-align: center;
          color: #000;
          margin: 20px 0 10px 0;
        "
      >
        MON PROGRAMME
      </div>
      <div
        style="
          width: 100%;
          background: rgb(218, 222, 222);
          margin: auto;
          color: #000;
          font-size: 18px;
          padding: 8px;
        "
      >
        Vous n'avez pas actuellement de cours<br />
        reserves. <br />Lors que vous aurez reserve des cours, ils <br />
        viendront s'affcher dans cette rubrique<br />Mon programme de votre
        tableau debord..
      </div>

      <div
        style="
          width: 100%;
          height: 34px;
          line-height: 34px;
          background: rgb(218, 222, 222);
          margin: auto;
          font-weight: bold;
          text-align: center;
          color: #000;
          margin: 20px 0 10px 0;
        "
      >
        MA MESSAGERIE
      </div>
      <div
        style="
          width: 100%;
          background: rgb(218, 222, 222);
          margin: auto;
          color: #000;
          font-size: 18px;
          padding: 8px;
        "
      >
        Vous n'avez pas actuellement de cours<br />
        reserves. <br />Lors que vous aurez reserve des cours, ils <br />
        viendront s'affcher dans cette rubrique<br />Mon programme de votre
        tableau debord..
      </div>
      <div
        style="
          width: 100%;
          height: 34px;
          line-height: 34px;
          background: rgb(218, 222, 222);
          margin: auto;
          font-weight: bold;
          text-align: center;
          color: #000;
          margin: 20px 0 10px 0;
        "
      >
        MES PROFESSEURS
      </div>
      <div
        style="
          width: 100%;
          height: 170px;
          margin: auto;
          color: #fff;
          font-size: 18px;
        "
      >
        Les enseignants que vous avez selectionnes<br />(likes), ou avec
        lesquels vous allez avoir un cours
        <br />
        s'affichent ici :<br />
        Raserve
        <img
          class="titile-img"
          src="@/assets/Source/icon/like_active.png"
          style="width: 20px"
          alt=""
        />
        Prefere
        <img
          class="titile-img"
          src="@/assets/Source/icon/like_active.png"
          style="width: 20px"
          alt=""
        />
      </div>
    </div>

    <div>
      <Card2 />
      <Card2 style="margin-top: 5px" />
      <Card2 style="margin-top: 5px" />
    </div>
    <div
      style="
        width: 100%;
        height: 34px;
        line-height: 34px;
        background: rgb(218, 222, 222);
        margin: auto;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin: 20px 0 10px 0;
      "
    >
      MES COURS
    </div>
    <div
      style="
        width: 100%;
        height: 170px;
        margin: auto;
        color: #fff;
        font-size: 18px;
      "
    >
      Les enseignants que vous avez selectionnes<br />(likes), ou avec lesquels
      vous allez avoir un cours
      <br />
      s'affichent ici :<br />
      Raserve
      <img
        class="titile-img"
        src="@/assets/Source/icon/like_active.png"
        style="width: 20px"
        alt=""
      />
      Prefere
      <img
        class="titile-img"
        src="@/assets/Source/icon/like_active.png"
        style="width: 20px"
        alt=""
      />
    </div>

    <div>
      <Card1>WORKSHOPS</Card1>
      <Card1 style="margin-top: 5px">WORKSHOPS</Card1>
      <Card1 style="margin-top: 5px">WORKSHOPS</Card1>
    </div>

    <div
      style="
        width: 100%;
        height: 34px;
        line-height: 34px;
        background: rgb(218, 222, 222);
        margin: auto;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin: 20px 0 10px 0;
      "
    >
      MES ECOOLES
    </div>
    <div style="width: 100%; margin: auto; color: #fff; font-size: 18px">
      Toutes les ecoles que j'aime (like) et que<br />
      j'ai selectionnees dans la rubrique xhoix
      <br />d'ecolesx - 《Mes ecolesx, saffichent ici :<br />
      Preferd<img
        class="titile-img"
        src="@/assets/Source/icon/like_active.png"
        style="width: 20px"
        alt=""
      />
    </div>

    <div>
      <Card3
        :flag="true"
        :ltone="'PARIS'"
        :lttwo="'BEAUX ARTS DE PARIS'"
        :ceone="'BEAUX ARTS DE PARIS'"
        :cethree="'PEINTURE - SCULPTURE'"
        :cefour="'https://beauxartsparis.fr/fr'"
        height="120px"
      ></Card3>
      <Card3
        :flag="true"
        :ltone="'PARIS'"
        :lttwo="'BEAUX ARTS DE PARIS'"
        :ceone="'BEAUX ARTS DE PARIS'"
        :cethree="'PEINTURE - SCULPTURE'"
        :cefour="'https://beauxartsparis.fr/fr'"
        height="120px"
      ></Card3>
      <Card3
        :flag="true"
        :ltone="'PARIS'"
        :lttwo="'BEAUX ARTS DE PARIS'"
        :ceone="'BEAUX ARTS DE PARIS'"
        :cethree="'PEINTURE - SCULPTURE'"
        :cefour="'https://beauxartsparis.fr/fr'"
        height="120px"
      ></Card3>
    </div>

    <div
      style="
        width: 100%;
        height: 34px;
        line-height: 34px;
        background: rgb(218, 222, 222);
        margin: auto;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin: 20px 0 10px 0;
      "
    >
      MES FORUMS
    </div>
    <div style="width: 100%; margin: auto; color: #fff; font-size: 18px">
      Il existe 4 formats de forums pour echan- <br />ger avec la communaute de
      REPUBLIC OF <br />ARTS: <br />
      -Forum des etudiants <br />-Forum de la classe <br />
      -Forum desprofs <br />-Forum REPUBLIC OF ARTS
    </div>

    <div>
      <Card4></Card4>
      <Card4 style="margin-top: 5px"></Card4>
      <Card4 style="margin-top: 5px"></Card4>
      <Card4 style="margin-top: 5px; margin-bottom: 30px"></Card4>
    </div>
  </div>
</template>

<script>
import Card2 from "@/components/common/card2.vue";
import Card1 from "@/components/common/card1.vue";
import Card4 from "@/components/common/card4.vue";
import Card3 from "@/components/common/card3.vue";

export default {
  name: "enseignementsright",
  components: {
    Card2,
    Card1,
    Card3,
    Card4,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.table {
  width: 100%;
  border: 0;
}
.table th {
  background-color: #000000;
  color: #ffffff;
}
.table,
.table th {
  color: rgb(255, 255, 255) 0;
  text-align: center;
  td {
    padding: 4px;
    border-collapse: collapse;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
}
.table th,
.table td {
  border: 2px inset #3c3a3a;
}
.table tr {
  border: 1px solid #3c3a3a;
}
.table tr {
  background-color: #ffffff;
}
</style>