<template>
  <div>
    <div style="background: #dadede; height: 540px; padding: 20px">
      <Title tit="MES 《LIKES》" tit1="MES COUPS DE COEUR"
        >Tous vos coups de coeur sont rassembles ici :</Title
      >
      <Card vid="aaa" color="#f8ad9e"> COURS FRANCAIS </Card>
      <div
        style="
          width: 180px;
          height: 50px;
          background: #0f1b41;
          color: #fff;
          line-height: 50px;
          font-size: 20px;
          text-align: center;
          margin-top: 40px;
        "
      >
        AFFICHER PLUS
      </div>
    </div>

    <div
      style="
        background: #dadede;
        height: 1050px;
        padding: 20px;
        margin-top: 10px;
      "
    >
      <Title tit="LES 《BEST OF》!"
        >Profitez des cours les plus apprecies par nos tudiants, quelques soient
        vos do- maines d'activite et d'apprentissage.</Title
      >
      <Card vid="aaa" color="#008cc1"> COURS FRANCAIS </Card>
      <Card vid="aaa" color="#008cc1" style="margin-top:20px"> COURS FRANCAIS </Card>
      <Card vid="aaa" color="#97c940" style="margin-top:20px"> COURS FRANCAIS </Card>
      <div
        style="
          width: 180px;
          height: 50px;
          background: #0f1b41;
          color: #fff;
          line-height: 50px;
          font-size: 20px;
          text-align: center;
          margin-top: 40px;
        "
      >
        AFFICHER PLUS
      </div>
    </div>

    <div
      style="background: #dadede; height: 1100px; padding: 20px; margin-top: 10px"
    >
      <Title
        tit="LES COURS QUI DEMARRENT
DANS LES 15 PROCHAINS JOURS
IL EST ENCORE TEMPS DE VOUSINSCRIRE"
        >Profites des dernieres places disponibles dans les cours qui demarrent
        dans les prochainsjours. Selectionnes lenseignement qui tinteresse
        :</Title
      >
      <Card vid="aaa" color="#008cc1"> COURS FRANCAIS </Card>
      <Card vid="aaa" color="#008cc1" style="margin-top:20px"> COURS FRANCAIS </Card>
      <Card vid="aaa" color="#008cc1" style="margin-top:20px"> COURS FRANCAIS </Card>

    </div>
  </div>
</template>

<script>
import Card from "@/components/common/card.vue";
import Title from "@/components/common/title.vue";
export default {
  name: "likes",
  components: {
    Card,
    Title,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
</style>