<template>
 <div >
   <Box/>
 </div>
</template>

<script>

import Box from "@/components/common/click.vue";
export default {
  name: 'App',
  components:{
    Box,
  },
}
</script>

<style lang="less">

</style>

