<template>
  <div>
    <div class="ev-header">
      <h1 style="margin-bottom: 0px; font-size: 25px; font-weight: 900">
        NOTES ET EVALUATIONS
      </h1>
      <span style="font-weight: bold"
        >Tous les cours sont sont évalues par lenseignant une fois termines. Les
        évaluationssont classées de la plus recente a la plus ancienne.</span
      >
    </div>
    <div class="ev-body">
      <div
        style="
          display: flex;
          justify-content: space-around;
          padding-bottom: 30px;
        "
      >
        <div>
          <p>
            <span style="font-weight: 800">ENSEIGNEMENT : </span
            ><span style="font-weight: bold">Workshop</span>
          </p>
          <p>
            <span style="font-weight: 800">INTITULE :</span>
            <span style="font-weight: bold"
              >Dessins et photographie du corps</span
            >
          </p>
          <p>
            <span style="font-weight: 800">PROFESSEUR : </span>
            <span style="font-weight: bold">Roberte MALY</span>
          </p>

          <p>
            <span style="font-weight: 800">DATE : </span
            ><span style="font-weight: bold">DU 10/02/2023 AU 20/03 2023</span>
          </p>
          <p>
            <span style="font-weight: 800">DUREE : </span
            ><span style="font-weight: bold">8 seances de 2 heures</span>
          </p>
          <p>
            <span style="font-weight: 800">REFERENCE : </span
            ><span style="font-weight: bold">wS_RM_04_2023</span>
          </p>
        </div>
        <div>
          <Card vid="aaa" color="#008cc1"> WORKSHOPS </Card>
        </div>
      </div>
      <div class="ev-body-footer">
        <table class="ev-body-table" border="1">
          <tr>
            <td colspan="2">ETUDIANT</td>
            <td colspan="5" class="ev-table-block" width="100px">
              DING Siyuan
            </td>
            <td colspan="2" rowspan="5">
              <img
                src="@/assets/Source/images/资源 46main.png"
                alt=""
                style="width: 100%; height: 100%"
              />
            </td>
          </tr>
          <tr>
            <td>ENSEIGNEMENT</td>
            <td>REF.</td>
            <td colspan="2">wORKSHOP</td>
            <td colspan="3">wS_RM_04_2023</td>
          </tr>
          <tr>
            <td colspan="2">INTITULE Du coURS</td>
            <td colspan="5">DESSIN & PHOTOGRAPHIE DU CORPS</td>
          </tr>
          <tr>
            <td>DATE</td>
            <td>DUREE</td>
            <td colspan="2">2021</td>
            <td colspan="3">Du 10/02/2023 au 20/03 2023</td>
          </tr>
          <tr>
            <td colspan="2">PROFESSEUR</td>
            <td colspan="5">ROBERTE MALY</td>
          </tr>
          <tr>
            <td rowspan="5">NOTES</td>
            <td rowspan="2">NIVEAUEVALUATION</td>
            <td colspan="2" class="ev-table-red">NON VALIDEE</td>
            <td colspan="5" class="ev-table-green">VALIDEE</td>
          </tr>
          <tr>
            <td>TRÈS INSUFFISANT</td>
            <td>INSUFFISANT</td>
            <td>PASSABLE</td>
            <td>ASSEZ BIEN</td>
            <td>BIEN</td>
            <td>TRÈS BIEN</td>
            <td>EXCELLENT</td>
          </tr>
          <tr>
            <td>DEFINITION</td>
            <td>Un travail supplémentaire considérable est nécessair.</td>
            <td>
              Un travail supplé-mentaire est necessaires pourl'octroi des
              credits.
            </td>
            <td>lnsuffisant. Resultatqui satisfait auxcriteres minimaux</td>
            <td>Travail honnete,mais comportant deslacunes importantes.</td>
            <td>
              Travail genéralementbon, malgreun certain nombred'insuffisances
            </td>
            <td>
              Resultat superieurala moyenne, malgreun certain
              nombred'insuffisances
            </td>
            <td>Resultat remarquable avecquelques insuffi-sances mineurs</td>
          </tr>
          <tr>
            <td>NOTE ECTS</td>
            <td>E</td>
            <td>E</td>
            <td>D</td>
            <td>D</td>
            <td>C</td>
            <td>B</td>
            <td>A</td>
          </tr>
          <tr>
            <td>sUR 20</td>
            <td>moins de 8</td>
            <td>8à 10</td>
            <td>10/11</td>
            <td>12/13</td>
            <td>14/15</td>
            <td>16/17</td>
            <td>sup.a 18</td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">CONCEPT</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              Pertinence, richesse, finesse, justesse,singularite,...
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">PROGRAMME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">Proposition pertinents d'usages precis et</td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">DEVELOPPEMENT</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">Organisation, systeme, détails, technique,</td>
            <td></td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">ASPECT ET PLASTIQUE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              Originalite et singularite - écriture,personnelle-maitrise.
            </td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">REPRESENTATION</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              Mode de
              presentation,texte,planche,ppt:graphisme,organisation,clarte,coherence,
              ...
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">EXPRESSION ORALE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">Presentation orale lors des rendus</td>
            <td></td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">AUTONOMIE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              Capacitea travailler et a développerles projets seul.
            </td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ev-table-grey">
            <td colspan="2">RENDU FINAL</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="ev-table-grey" colspan="2">NOTE GENERALE</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="ev-table-red">BIEN</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <div style="padding-top: 20px">
          <p
            style="
              background-color: rgb(118, 122, 124);
              color: #fff;
              width: 230px;
              padding-left: 10px;
              margin: 0px;
            "
          >
            COMMENTAIRE DU PROFESSEUR
          </p>
          <p style="padding-left: 10px; font-size: 25px">........</p>
        </div>
      </div>
      <div style="margin-top: 30px">
        <p
          style="
            display: inline-block;
            border: 2px solid #000;
            padding: 5px 10px;
            background-color: #fff;
            font-weight: bold;
          "
        >
          IMPRIMER L'EVALUATION
        </p>
        <p
          style="
            display: inline-block;
            margin-left: 10px;
            border: 2px solid #000;
            padding: 5px 10px;
            background-color: #fff;
            font-weight: bold;
          "
        >
          IMPORTER LEVALUATION
        </p>
      </div>
    </div>
    <div class="ev-body" style="margin-top: 20px">
      <p style="color: red; font-size: 30px; font-weight: bold; height: 500px">
        vous AVEZ 1COURS EN COURT. SON EVALUATION SERA ACCESSIBLE UNE FOISLE
        WORKSHOP TERMINE.
      </p>
    </div>
  </div>
</template>

<script>
import Card from "@/components/common/card copy.vue";

export default {
  name: "ev-body",
  components: {
    Card,
  },
  data() {
    return {};
  },
};
</script>

<style lang="less" scoped>
.ev-body {
  margin-top: 10px;
  padding: 30px 30px 10px 20px;
  background-color: rgb(218, 222, 222);
  color: rgb(15, 27, 65);
}
.ev-body-table {
  table-layout: fixed;
  width: 100%;
  border: 5px solid #fff;
}
.ev-body-table tr td {
  word-wrap: break-word;
  width: auto !important;
  background-color: rgb(197, 207, 224);
  border: 2px solid #fff;
  text-align: center;
}
.ev-table-block {
  background-color: rgb(0, 0, 2) !important;
  color: #fff;
}
.ev-table-red {
  background-color: rgb(238, 54, 41) !important;
  color: #fff;
}
.ev-table-green {
  background-color: rgb(54, 181, 74) !important;
  color: #fff;
}
.ev-table-grey td {
  background-color: rgb(118, 122, 124) !important;
  color: #fff;
}
</style>