<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style>
.ev-header {
  background-color: rgb(218, 222, 222);
  padding: 10px 200px 10px 20px;
  color: rgb(15, 27, 65);
}
</style>