<template>
  <div>
    <div style="background: #dadede; margin-bottom: 15px; padding: 10px 20px">
      <Title tit="CONSEILS ET ORIENTATION">
        REPUBLIC OF ARTS vous conseille et vous suit dans une accompagnement
        personalise et <br />individuel, tout au long de votre formation.
        <br />En plus votre programme de cours, des entretiens sont realises
        avec un.e de nos ensei <br />gnant.es d'orientation pedagogique. Un
        compte rendu est realise afin de vous permettre <br />de bien evaluer
        vos choix d'orientation et de formation a venir. <br />
        <p style="margin-top: 20px">
          Faites vous aider dans votre orientation :
        </p>
      </Title>
      <div
        style="
          width: 42%;
          height: 40px;
          background: #0f1b41;
          color: #fff;
          line-height: 40px;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        "
      >
        NOS AIDES A LORIENTATION
        <a-icon type="right" style="margin-left: 20px" />
      </div>
    </div>
    <div class="wrap">
      <Title tit="BILAN FORMATION" tit1="CONSEILLERE PEDAGOGOQUE - LAN Ting"
        >Ce bilan est une synthese des valuations des differents cours en ligne
        suivis par l'etudiant.l est realise par un conseiller specialise dans la
        pedagogie et permet a letudiant de mieuxvaluer son niveau dans les
        differents matieres.Un entretien individuel a t realis entre letudiant
        et le conseiller le:</Title
      >
      <div class="ev-body-footer">
        <table class="ev-body-table" border="1">
          <tr>
            <td colspan="2">ETUDIANT</td>
            <td colspan="5" class="ev-table-block" width="100px">
              DING Siyuan
            </td>
            <td colspan="2" rowspan="5">
              <img
                src="@/assets/Source/images/资源 46main.png"
                alt=""
                style="width: 100%; height: 100%"
              />
            </td>
          </tr>
          <tr>
            <td>ENSEIGNEMENT</td>
            <td>REF.</td>
            <td colspan="2">wORKSHOP</td>
            <td colspan="3">wS_RM_04_2023</td>
          </tr>
          <tr>
            <td colspan="2">INTITULE Du coURS</td>
            <td colspan="5">DESSIN & PHOTOGRAPHIE DU CORPS</td>
          </tr>
          <tr>
            <td>DATE</td>
            <td>DUREE</td>
            <td colspan="2">2021</td>
            <td colspan="3">Du 10/02/2023 au 20/03 2023</td>
          </tr>
          <tr>
            <td colspan="2">PROFESSEUR</td>
            <td colspan="5">ROBERTE MALY</td>
          </tr>
          <tr>
            <td rowspan="5">NOTES</td>
            <td rowspan="2">NIVEAUEVALUATION</td>
            <td colspan="2" class="ev-table-red">NON VALIDEE</td>
            <td colspan="5" class="ev-table-green">VALIDEE</td>
          </tr>
          <tr>
            <td>TRÈS INSUFFISANT</td>
            <td>INSUFFISANT</td>
            <td>PASSABLE</td>
            <td>ASSEZ BIEN</td>
            <td>BIEN</td>
            <td>TRÈS BIEN</td>
            <td>EXCELLENT</td>
          </tr>
          <tr>
            <td>DEFINITION</td>
            <td>Un travail supplémentaire considérable est nécessair.</td>
            <td>
              Un travail supplé-mentaire est necessaires pourl'octroi des
              credits.
            </td>
            <td>lnsuffisant. Resultatqui satisfait auxcriteres minimaux</td>
            <td>Travail honnete,mais comportant deslacunes importantes.</td>
            <td>
              Travail genéralementbon, malgreun certain nombred'insuffisances
            </td>
            <td>
              Resultat superieurala moyenne, malgreun certain
              nombred'insuffisances
            </td>
            <td>Resultat remarquable avecquelques insuffi-sances mineurs</td>
          </tr>
          <tr>
            <td>NOTE ECTS</td>
            <td>E</td>
            <td>E</td>
            <td>D</td>
            <td>D</td>
            <td>C</td>
            <td>B</td>
            <td>A</td>
          </tr>
          <tr>
            <td>sUR 20</td>
            <td>moins de 8</td>
            <td>8à 10</td>
            <td>10/11</td>
            <td>12/13</td>
            <td>14/15</td>
            <td>16/17</td>
            <td>sup.a 18</td>
          </tr>
        </table>
      </div>
      <div class="yellow">
        <table>
          <thead>
            <tr>
              <th scope="col">01</th>
              <th scope="col">LANGUE ET CULTURE</th>
              <th class="thrange" scope="col">INSUFFISANT</th>
              <th class="thrange" scope="col">PASSABLE</th>
              <th class="thrange" scope="col">ASSEZ BIEN</th>
              <th class="thrange" scope="col">BIEN</th>
              <th class="thrange" scope="col">TRÈS BIEN</th>
              <th class="thrange" scope="col">EXCELLENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">AUTONOMIE</td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">VOCABULAIRE</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">AISANCE À L’ORAL</td>
              <td></td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE L’ÉCRITURE</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="8">
                <div>COMMENTAIRE :</div>
                <div style="color: #fff">TEXTE ....</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="blue">
        <table>
          <thead>
            <tr>
              <th scope="col">02</th>
              <th scope="col">THÉORIE DE L’ART ET DESIGN</th>
              <th class="thrange" scope="col">INSUFFISANT</th>
              <th class="thrange" scope="col">PASSABLE</th>
              <th class="thrange" scope="col">ASSEZ BIEN</th>
              <th class="thrange" scope="col">BIEN</th>
              <th class="thrange" scope="col">TRÈS BIEN</th>
              <th class="thrange" scope="col">EXCELLENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">CULTURE GÉNÉRALE - RICHESSE DES RÉF.</td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">COMPRÉHENSION DES RÉFÉRENCES</td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">ANALYSES COMPARAISON FRANCO-CHINOIIS</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">RÉF. DES ARTISTES/DESIGNERS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">RÉF. DES ŒUVRES/DESIGNS</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">CAPACITÉ CRITIQUE</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="8">
                <div>COMMENTAIRE :</div>
                <div style="color: #fff">TEXTE ....</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pink">
        <table>
          <thead>
            <tr>
              <th scope="col">03</th>
              <th scope="col">PRATIQUE ARTISTIQUE</th>
              <th class="thrange" scope="col">INSUFFISANT</th>
              <th class="thrange" scope="col">PASSABLE</th>
              <th class="thrange" scope="col">ASSEZ BIEN</th>
              <th class="thrange" scope="col">BIEN</th>
              <th class="thrange" scope="col">TRÈS BIEN</th>
              <th class="thrange" scope="col">EXCELLENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">QUALITÉ DE LA CONCEPTUALMISATION</td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE LA MÉTHODE</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">OUTILS CRITIQUES</td>
              <td></td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE LA RÉALISDATION PERSPECTIVES</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ PLASTIQUE</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE LA PRÉSENTATION</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="8">
                <div>COMMENTAIRE :</div>
                <div style="color: #fff">TEXTE ....</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="purple">
        <table>
          <thead>
            <tr>
              <th scope="col">04</th>
              <th scope="col">PRATIQUE DESIGN</th>
              <th class="thrange" scope="col">INSUFFISANT</th>
              <th class="thrange" scope="col">PASSABLE</th>
              <th class="thrange" scope="col">ASSEZ BIEN</th>
              <th class="thrange" scope="col">BIEN</th>
              <th class="thrange" scope="col">TRÈS BIEN</th>
              <th class="thrange" scope="col">EXCELLENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">ORIGINALITÉ - CRÉATIVITÉ - INNOVATION</td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">MAITRISE DU PROCESS</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ COULEURS / MATIÈRES</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">FORMALISATION DU CONCEPT</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE L’ARTICULATION DES IDÉES</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE LA MÉTHODE</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="2">QUALITÉ DE LA PRÉSENTATION</td>
              <td></td>
              <td></td>
              <td>✓</td>
              <td>✓</td>
              <td></td>
              <td>✓</td>
            </tr>
            <tr>
              <td colspan="8">
                <div>COMMENTAIRE :</div>
                <div style="color: #fff">TEXTE ....</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a-space class="handle">
        <div>IMPRIMER L’ÉVALUATION</div>
        <div>IMPORTER L’ÉVALUATION</div>
      </a-space>
    </div>
    <div class="footer">
      <div>VOUS AVEZ 1 COURS EN COURT.</div>
      <div>SON EVALUATION SERA ACCESSIBLE UNE FOIS LE WORKSHOP TERMINÉ.</div>
    </div>
  </div>
</template>

<script>
import Title from "@/components/common/title.vue";
export default {
  components: {
    Title,
  },
};
</script>

<style lang="less" scoped>
.wrap {
  padding: 10px 20px;
  background: rgb(218, 222, 222);
  .ev-body-table {
    table-layout: fixed;
    width: 100%;
    border: 5px solid #fff;
  }
  .ev-body-table tr td {
    word-wrap: break-word;
    width: auto !important;
    background-color: rgb(197, 207, 224);
    border: 2px solid #fff;
    text-align: center;
  }
  .ev-table-block {
    background-color: rgb(0, 0, 2) !important;
    color: #fff;
  }
  .ev-table-red {
    background-color: rgb(238, 54, 41) !important;
    color: #fff;
  }
  .ev-table-green {
    background-color: rgb(54, 181, 74) !important;
    color: #fff;
  }
  .ev-table-grey td {
    background-color: rgb(118, 122, 124) !important;
    color: #fff;
  }
  .handle {
    > div {
      width: 200px;
      border: 3px solid #000;
      font-size: 14px;
      background: #fff;
      font-family: Impact;
      text-align: left;
      padding: 0 10px;
      line-height: 30px;
      color: rgb(15, 27, 65);
    }
  }

  > div {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #fff;
  }

  // 大小&&字体&&布局
  th {
    border: 1px solid #fff;
    text-align: center;
  }
  th:nth-child(1) {
    width: 80px;
    font-size: 30px;
    border-right: 3px solid #fff;
  }

  .thrange {
    width: 90px;
  }
  td {
    border: 1px solid #fff;
    text-align: center;
    padding: 8px 0;
  }
  td:nth-child(1) {
    padding-left: 10px;
    text-align: left;
  }
  table tbody tr td {
    color: #000;
  }
  table tbody tr:last-child {
    height: 100px;
  }

  .yellow {
    // 颜色
    table thead tr {
      background-color: rgb(247, 147, 45);
      color: #fff;
    }
    table tbody tr:nth-child(odd) {
      background-color: rgb(246, 220, 187);
    }
    table tbody tr:nth-child(even) {
      background-color: rgb(250, 237, 219);
    }
    table tbody tr:last-child {
      background-color: rgb(250, 237, 219);
    }
  }
  .blue {
    // 颜色
    table thead tr {
      background-color: rgb(12, 123, 190);
      color: #fff;
    }
    table tbody tr:nth-child(odd) {
      background-color: rgb(155, 205, 229);
    }
    table tbody tr:nth-child(even) {
      background-color: rgb(190, 223, 240);
    }
    table tbody tr:last-child {
      background-color: rgb(190, 223, 240);
    }
  }
  .pink {
    // 颜色
    table thead tr {
      background-color: rgb(149, 29, 101);
      color: #fff;
    }
    table tbody tr:nth-child(odd) {
      background-color: rgb(210, 160, 188);
    }
    table tbody tr:nth-child(even) {
      background-color: rgb(239, 219, 228);
    }
    table tbody tr:last-child {
      background-color: rgb(239, 219, 228);
    }
  }
  .purple {
    // 颜色
    table thead tr {
      background-color: rgb(38, 19, 71);
      color: #fff;
    }
    table tbody tr:nth-child(odd) {
      background-color: rgb(186, 183, 196);
    }
    table tbody tr:nth-child(even) {
      background-color: rgb(213, 212, 219);
    }
    table tbody tr:last-child {
      background-color: rgb(213, 212, 219);
    }
  }
}
.footer {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 40px 30px;
  font-size: 25px;
  background: #fff;
  font-family: Impact;
  color: rgb(238, 42, 36);
  background-color: rgb(218, 222, 222);
}
</style>