<template>
  <div style="padding: 0 2px">
    <div class="decol">
      <div style="color: #0f1b41; font-size: 17px">
        Nous vous proposons ici de découvrir toutes les écoles dʼart et de
        design françaises, publics et privées, qui vous correspond le mieux.
      </div>
      <div class="header-c">
        <a-input-search placeholder="RECHERCHE LIBRE (professeur, ville, nom decole, ...) :" style="width: 100%" />
      </div>

      <div class="decol-button">
        <div>FILTRES ACTIFS :</div>
        <div class="btns">
          <div>ECOLES D’ART PUBLICS <span class="btn-1">✖</span></div>
          <div>UNIVERSITÉS<span class="btn-2">✖</span></div>
          <div>ECOLES DESIGN PUBLICS <span class="btn-3">✖</span></div>
          <div>PEINTURE <span class="btn-4">✖</span></div>
          <div>PHOTO <span class="btn-5">✖</span></div>
          <div>VIDÉO <span class="btn-6">✖</span></div>
        </div>
      </div>
      <div style="margin: 0 auto; width: 80%">
        <img src="../../assets/Source/images/decol-地图.png" alt="" />
      </div>
    </div>
    <div class="decol-second">
      <div style="color: #0f1b41; font-size: 17px">232 ÉTABLISSEMENTS SÉLÉCTIONNÉS</div>
      <decolCard
        :flag="false"
        :ltone="'STRASBOURG'"
        :lttwo="'HEAR GTSF'"
        :ceone="'HAUTE ECOLE DES ARTS DU RHIN MULHOUSE - STRASBOURG'"
        :cetwo="'FORMATION :'"
        :cethree="'PEINTURE - SCULPTURE - VIDÉO - GRAPHISME'"
        :cefour="'https://www.hear.fr'"
      ></decolCard>
      <decolCard
        :flag="true"
        :ltone="'PARIS'"
        :lttwo="'BEAUX ARTS DE PARIS'"
        :ceone="'BEAUX ARTS DE PARIS'"
        :cethree="'PEINTURE - SCULPTURE'"
        :cefour="'https://beauxartsparis.fr/fr'"
      ></decolCard>
      <decolCard
        :flag="false"
        :ltone="'LYON'"
        :lttwo="'SFGS FGFGDS ÉOSFFÉ'"
        :ceone="'ENSBA LYON'"
        :cethree="'PEINTURE - DESIGN - COMMUNICATION GRAPHIQUE '"
        :cefour="'https://www.ensba-lyon.fr'"
      ></decolCard>
      <decolCard
        :flag="true"
        :ltone="'PARIS'"
        :lttwo="'ARTS ÉOSFFÉ FGFGDS'"
        :ceone="'ECOLE DE CONDÉ'"
        :cethree="'DESIGN - COMMUNICATION GRAPHIQUE'"
        :cefour="'https://ecoles-conde.com'"
      ></decolCard>
      <decolCard
        :flag="true"
        :ltone="'LYON'"
        :lttwo="'FGFGDS BEAUX FGFGDS'"
        :ceone="'ENSBA LYON'"
        :cethree="'PEINTURE - DESIGN - COMMUNICATION GRAPHIQUE'"
        :cefour="'https://www.ensba-lyon.fr'"
      ></decolCard>
      <decolCard
        :flag="false"
        :ltone="'PARIS'"
        :lttwo="'ÉOSFFÉ GTSF FGFGDS'"
        :ceone="'ECOLE DE CONDÉ'"
        :cethree="'DESIGN - COMMUNICATION GRAPHIQUE'"
        :cefour="'https://ecoles-conde.com'"
        style="margin-bottom:200px"
      ></decolCard>
    </div>
  </div>
</template>

<script>
import decolCard from "@/components/common/decol-card.vue";
export default {
  components: {
    decolCard,
  },
};
</script>

<style scoped lang="less">
.decol {
  width: 100%;
  background-color: rgb(218, 222, 222);
  padding: 0 20px;
  ::v-deep .header-c {
    width: 100%;
    margin: 10px 0;
    .ant-input {
      background: #eeeff0;
      padding-left: 40px;
      height:45px;
      &::placeholder {
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .ant-input-suffix {
      font-size: 25px;
      right: unset;
      left: 10px;
    }
  }
  > div:nth-child(1) {
    font-weight: 600;
  }
  .decol-button {
    width: 100%;
    font-weight: 900;
    display: flex;
    align-items: baseline;
    color: #1f2a4d;
    .btns {
      width: 65%;

      div {
        border: 2px solid #000;
        padding: 0 5px;
        display: inline-block;
        margin: 3px 8px;
        font-size: 12px;
        font-weight: 600;
        // align-items: baseline;
        line-height: 20px;

        span {
          color: #000;
          position: relative;
          margin-left: 10px;
          cursor: pointer;

          &::before {
            content: "";
            content: "";
            width: 7px;
            height: 20px;
            display: inline-block;
            position: absolute;
            right: 17px;
            // background-color: aqua;
          }
        }
        .btn-1::before {
          content: "";
          content: "";

          background-color: rgb(42, 196, 244);
        }
        .btn-2::before {
          background-color: rgb(134, 196, 64);
        }
        .btn-3::before {
          background-color: rgb(248, 153, 45);
        }
      }
    }

    button {
      margin: 4px 8px;
    }
  }
}

.decol-second {
  width: 100%;
  background-color: rgb(218, 222, 222);
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 12px;
}
</style>