<template>
  <div style="background-color: white; ">
    <main class="top_one" >
      <nav>
        <div class="button1">JOUR</div>
        <div class="button2">SEMAINE</div>
        <div class="button3">MOIS</div>
      </nav>
      <table class="table-left" border="3px 0 0 3px" width="100%" cellspacing="1px" >
    <tr align="center"  >
      <td  ><span class="fontWe">S4</span></td>
        <td  colspan="3" ><span class="fontWe">《 MERCREDI 4 DECEMBRE 》</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td   style="background-color: #999999;"><span class="fontwe">Toute journée</span></td>
        <td  colspan="3"  style="background-color: rgb(0, 166, 81);"><span style="color: white;
       font-size: 16px;
       font-weight: 700;">CONCOURS- DU 22 AU 29 DÉCEMBRE</span></td>
    </tr>

    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">7h00 - 8h00</span></td>
        <td style="width: 75px; background-color: rgb(248, 173, 158);"  ><span class="fontWe">COURS FRANÇAIS</span></td>
        <td style="width: 20px; background-color: rgb(248, 173, 158);" ><span>A1</span></td>
        <td style="width: 75px; background-color: rgb(248, 173, 158);" ><span>Jacques DUCON</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;"  ><span  class="fontwe" >8h00 - 9h00</span></td>
      <td style="width: 75px; background-color: rgb(248, 173, 158);"  ><span class="fontWe">COURS FRANÇAIS</span></td>
      <td style="width: 20px; background-color: rgb(248, 173, 158);" ><span>A1</span></td>
        <td style="width: 75px; background-color: rgb(248, 173, 158);" ><span>Jacques DUCON</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">9h00 - 10h00</span></td>
      <td style="width: 75px; background-color: rgb(248, 173, 158);"  ><span class="fontWe">COURS FRANÇAIS</span></td>
      <td style="width: 20px; background-color: rgb(248, 173, 158);" ><span>A1</span></td>
        <td style="width: 75px; background-color: rgb(248, 173, 158);" ><span>Jacques DUCON</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">10h00 - 11h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">11h00 - 12h00</span></td>
        <td style="width: 75px; background-color: rgb(255, 223, 152);"  ><span class="fontWe">PRÉPA. BOOK</span></td>
        <td style="width: 20px; background-color: rgb(255, 223, 152);" ><span>1</span></td>
        <td style="width: 75px; background-color: rgb(255, 223, 152);" ><span>Claude BIDON</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span  class="fontwe">12h00 - 13h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">13h00 - 14h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">14h00 - 15h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">15h00 - 16h00</span></td>
        <td style="width: 75px; background-color: rgb(186, 229, 251)" ><span class="fontWe">WORKSHOP</span></td>
        <td style="width: 20px; background-color: rgb(186, 229, 251)" ><span >WS.04A</span></td>
        <td style="width: 75px; background-color: rgb(186, 229, 251)" ><span>Agnès MILOU</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">16h00 - 17h00</span></td>
      <td style="width: 75px; background-color: rgb(186, 229, 251)" ><span class="fontWe">WORKSHOP</span></td>
        <td style="width: 20px; background-color: rgb(186, 229, 251)" ><span >WS.04A</span></td>
        <td style="width: 75px; background-color: rgb(186, 229, 251)" ><span>Agnès MILOU</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">17h00 - 18h00</span></td>
      <td style="width: 75px; background-color: rgb(186, 229, 251)" ><span class="fontWe">WORKSHOP</span></td>
        <td style="width: 20px; background-color: rgb(186, 229, 251)" ><span >WS.04A</span></td>
        <td style="width: 75px; background-color: rgb(186, 229, 251)" ><span>Agnès MILOU</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">18h00 - 19h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span class="fontwe">19h00 - 20h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span  class="fontwe">20h00 - 21h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span  class="fontwe">21h00 - 22h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span  class="fontwe">22h00 - 23h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" >
      <td style="width: 30px;" ><span  class="fontwe">23h00 - 24h00</span></td>
        <td style="width: 75px;" ><span>27</span></td>
        <td style="width: 20px;" ><span>28</span></td>
        <td style="width: 75px;" ><span>30</span></td>
    </tr>
      </table>
      <h4 style="margin-top: 15px;">Importer cet emploi du temps  sur mon agenda personel :</h4>
      <div class="footer_bottom">
    <div class="one">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Agenda Google</span>
    </div>
    <div class="two">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Calandrier Apple</span>
    </div>
    <div class="three">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Microsoft</span>
    </div>
    
  </div>
    </main>



    <section class="top_two">
      <nav>
        <div class="left">
          <div class="left-top" >DECEMBRE 2022</div>
          <div class="left-bottom" style="color: rgb(35, 31, 32);
       font-size: 18px;
       font-weight: 700;"><span style="color: red;">&nbsp;Aujourdhui  &nbsp;</span></div>
        </div>
        <div class="right">
        <div class="button1">JOUR</div>
        <div class="button2">SEMAINE</div>
        <div class="button3">MOIS</div>
       </div>
      </nav>
      <table class="table-right" border="3px 0 0 3px" width="100%" cellspacing="1px" >
    <tr align="center"  >
      <td  ><span class="fontWe">S4</span></td>
      <td  ><span class="fontWe">LUNDI 2</span></td>
      <td  ><span class="fontWe">LUNDI 3</span></td>
      <td style="background-color: red;" ><span class="fontWe" >LUNDI 4</span></td>
      <td  ><span class="fontWe">LUNDI 5</span></td>
      <td  ><span class="fontWe">LUNDI 6</span></td>
      <td  ><span class="fontWe">LUNDI 7</span></td>
      <td  ><span class="fontWe">LUNDI 8</span></td>
    </tr>
    <tr align="center"  >
      <td   style="background-color: #999999;"><span class="fontwe">Toute journée</span></td>
        <td  colspan="4"  style="background-color: rgb(0, 166, 81);"><span style="color: white;
       font-size: 16px;
       font-weight: 700;">CONCOURS- DU 22 AU 29 DÉCEMBRE</span></td>
       <td  colspan="3"><span class="fontWe"></span></td>
    </tr>

    <tr align="center"  >
      <td style="" ><span class="fontwe">7h00 - 8h00</span></td>
      <td style="background-color: #999999;" ><span class="fontWe" ></span></td>
      <td style="background-color: #999999;" ><span class="fontWe" ></span></td>
      <td style="background-color: #999999;" ><span class="fontWe" ></span></td>
      <td  style="background-color: #999999;"><span class="fontWe" ></span></td>
      <td style="background-color: #999999;" ><span class="fontWe" ></span></td>
      <td style="background-color: #999999;" ><span class="fontWe" ></span></td>
      <td  style="background-color: #999999;"><span class="fontWe" ></span></td>
    </tr>
    <tr align="center"  >
      <td style=""  ><span  class="fontwe" >8h00 - 9h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">9h00 - 10h00</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td style="background-color: rgb(248, 173, 158);" ><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td style="background-color: rgb(248, 173, 158);" ><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">10h00 - 11h00</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td style="background-color: rgb(248, 173, 158);" ><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td style="background-color: rgb(248, 173, 158);" ><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">11h00 - 12h00</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td style="background-color: rgb(248, 173, 158);" ><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td style="background-color: rgb(248, 173, 158);" ><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  style="background-color: rgb(248, 173, 158);"><span class="fontWe" style="font-size: 12px;">COURS FRANÇAIS</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span  class="fontwe">12h00 - 13h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(255, 223, 152)"><span class="fontWe" >PRÉPA. BOOK</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">13h00 - 14h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">14h00 - 15h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">15h00 - 16h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">16h00 - 17h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">17h00 - 18h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">18h00 - 19h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  style="background-color: rgb(186, 229, 251)"><span class="fontWe">WORKSHOP</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span class="fontwe">19h00 - 20h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span  class="fontwe">20h00 - 21h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span  class="fontwe">21h00 - 22h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span  class="fontwe">22h00 - 23h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
    <tr align="center"  >
      <td style="" ><span  class="fontwe">23h00 - 24h00</span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
      <td  ><span class="fontWe"></span></td>
    </tr>
      </table>
      <div class="footer"> <input type="checkbox" name="" id="" >
  <span class="text1">Importer mon emploi du temps  sur mon agenda :</span>
  
  <div class="footer_bottom">
    <div class="one">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Agenda Google</span>
    </div>
    <div class="two">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Calandrier Apple</span>
    </div>
    <div class="three">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Microsoft Outlook</span>
    </div>
    
  </div>
</div>
    </section>
  </div>
</template>

<script>
export default {
  name: "cours",
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.top_one{
  padding: 20px 15px;
    margin: 20px;
    width: 437px;
  height: 860px;
    box-shadow: -5px 6px 10px -2px #333333;
    background: linear-gradient(to top, rgb(214, 215, 217), #fefefd);
  .button3, .button1, .button2{
      display: inline-block;
    }
    .button3, .button1, .button2{
      margin-left: 15px;
    width: 85px;
    line-height: 30px;
    border: 2px solid #999999;
    color: #999999;
    height: 30px;
    text-align: center;
    }
    .button1{
      background-color: rgb(35, 31, 32);
      font-weight: 600;
      color: azure;
      border: 0px;
    }

    .table-left{
    margin-top: 10px;
      tr td{
        width: auto;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
      }
      .fontWe{
       color: rgb(35, 31, 32);
       font-size: 16px;
       font-weight: 700;
      }
      .fontwe{
        color: rgb(35, 31, 32);
       font-size: 12px;
       font-weight: 700;
      }
    }
    .footer_bottom{
     
     width: 70%;
     height: 80px;
     display: flex;
     flex-direction: column;
     align-items: start;
     .one,.two,.three{
       width: 200px;
       position: relative;
       height: auto;
       margin-left: 10px;
     }
     .one span,.two span,.three span{
       position: absolute;
       top: -2px;
       left: 18px;
     }
     // .one a-icon,.two a-icon,.three a-icon{
     //   width: 10px;
     //   height: 10px;
     //   position: absolute;
     //   top: 0px;
     // }
   }

}



.top_two{
  padding: 20px 15px;
    margin: 20px;
    width: 750px;
  height: 860px;
  box-shadow: -5px 6px 10px -2px #333333;
    background: linear-gradient(to top, rgb(214, 215, 217), #fefefd);
    .left-top{
       color: rgb(35, 31, 32);
       font-size: 18px;
       font-weight: 700;
      }
      nav{
        .left{
      width: 35%;
      height: 58px;
      display: inline-block;
      vertical-align : top
    }
    .right{
      width: 65%;
      height: 30px;
      display: inline-block;
      .button3, .button1, .button2{
      display: inline-block;
      margin-left: 10px;
    }
    .button3, .button1, .button2{
      margin-left: 25px;
      vertical-align : top;
    width: 85px;
   
    border: 2px solid #999999;
    color: #999999;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    }
    .button2{
      background-color: rgb(35, 31, 32);
      font-weight: 600;
      color: azure;
      border: 0px;
    }
    }
      }
    .table-right{
      tr td{
        width: 80px;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
      }
      .fontWe{
       color: rgb(35, 31, 32);
       font-size: 14px;
       font-weight: 700;
      }
      .fontwe{
        color: rgb(35, 31, 32);
       font-size: 12px;
       font-weight: 700;
      }
    }

    .footer{
      width: 100%;
        position: relative;
      height: 140px;
      margin-top: 10px;
      .text1{
        display:inline-block;
        line-height: 30px;
        margin-bottom: 10px;
        position: absolute;
        top: 4px;
        left: 50px;
      }
      input{
        margin: 10px 20px;
      width: 20px;
      height: 20px;
      }
      .footer_bottom{
     
        width: 70%;
        height: 40px;
        line-height: 40px;
        margin-left: 80px;
        display: flex;
        justify-content: space-between;
        .one,.two,.three{
          width: 200px;
          position: relative;
          height: 60px;
        }
        .one span,.two span,.three span{
          position: absolute;
          top: 0px;
        }
        // .one a-icon,.two a-icon,.three a-icon{
        //   width: 10px;
        //   height: 10px;
        //   position: absolute;
        //   top: 0px;
        // }
      }
    }

}



</style>