<template>
  
  <div class="Weboder">
    <nav class="top_one">
      <h2>PLANNING PERSONNEL</h2>
      <h4>Votre planning de vos cours est mis à jour automatiquement.</h4>
      <div class="top_one_box">
           <div class="box_lift">
            <p class="bg_lift">START</p>
            <p>Début du cours</p>
          </div>
           <div class="box_right">
            <p class="bg_right">END</p>
            <p>fin du cours</p>
          </div>
      </div>
      <div class="top_two_box">
        <div class="check"> < DECEMBRE 2022 > </div>
        <div class="button1">JOUR</div>
        <div class="button2">SEMAINE</div>
        <div class="button3">MOIS</div>
      </div>
    </nav>
    
    <main class="center_one">
      <table border="3px 0 0 3px" width="100%" cellspacing="1px" >
    <tr align="center" >
        <th height="60px"><span>LUNDI</span></th>
        <th height="60px"><span>MARDI</span></th>
        <th height="60px"><span>IMERCREDI</span></th>
        <th height="60px"><span>IJEUDI</span></th>
        <th height="60px"><span>VENDRED</span></th>
        <th height="60px"><span>ISAMEDI</span></th>
        <th height="60px"><span>DIMANCHE</span></th>
    </tr>
    <tr align="center" bgcolor="#f0ffff" height="100px">
      <td  class="first_span"><span>26</span></td>
        <td  class="first_span"><span>27</span></td>
        <td  class="first_span"><span>28</span></td>
        <td  class="first_span">
          <span>29</span>
          <p class="bg_lift">START</p>
        </td>
        <td  class="first_span"><span>30</span></td>
        <td  class="first_span"><span>31</span></td>
        <td ><span>1</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" height="100px">
      <td style="z-index: 1">
        <span>2</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 22;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
          <h3 class="bg_lift" style=" position: absolute; left: 75px; top: 67px;">START</h3>
      </td>
        <td><span>3</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 22;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span class="types">4</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 22;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>5</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 22;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(186, 229, 251);">WORKSHOPS </div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>6</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 22;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(248, 173, 158);">WORKSHOPS </div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td>
          <span>7</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: rgb(0, 116, 81);">CONCRUS</div>
        </td>
        <td><span>8</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" height="100px">
      <td><span>9</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 52;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(225, 223, 152);">PRÉPA. BOOK</div>
          <span style="position: absolute; font-size: 12px;
          top: 36px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
          <h3 class="bg_lift" style=" position: absolute; left: 75px; top: 72px;">START</h3>
      </td>
        <td><span>10</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 52;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(225, 223, 152);">PRÉPA. BOOK</div>
          <span style="position: absolute; font-size: 12px;
          top: 36px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
          <div style="width: 101px; height: 30px; 
          position: absolute; top: 115px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(192, 176, 213);">PRÉP. ENTRETIEN</div>
          <span style="position: absolute; font-size: 12px;
          top: 106px;left: 91px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>11</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 52;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(225, 223, 152);">PRÉPA. BOOK</div>
          <span style="position: absolute; font-size: 12px;
          top: 36px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
          <h3 class="bg_right" style=" position: absolute; left: 75px; top: 34px;">END</h3>
        </td>
        <td><span>12</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: red;">WORKSHOPS </div>
           <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(186, 229, 251);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 52;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(225, 223, 152);">PRÉPA. BOOK</div>
          <span style="position: absolute; font-size: 12px;
          top: 36px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>13</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(248, 173, 158);">COURS FRANÇAIS</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 52;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(225, 223, 152);">PRÉPA. BOOK</div>
          <span style="position: absolute; font-size: 12px;
          top: 36px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>14</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(246, 109, 203);">COURS</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>15</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" height="100px">
      <td><span>16</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
      </td>
        <td><span>17</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        <div style="width: 91px; height: 30px; 
          position: absolute; top: 52;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(225, 223, 152);">PRÉPA. BOOK</div>
          <span style="position: absolute; font-size: 12px;
          top: 36px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
          <div style="width: 101px; height: 30px; 
          position: absolute; top: 115px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(192, 176, 213);">PRÉP. ENTRETIEN</div>
          <span style="position: absolute; font-size: 12px;
          top: 106px;left: 91px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>18</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(197, 244, 169);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
          <h3 class="bg_right" style=" position: absolute; left: 75px; top: 34px;">END</h3>
        </td>
        <td><span>19</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(186, 229, 251);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        </td>
        <td><span>20</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(248, 173, 158);">COURS FRANÇAIS</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">9h30</span>
        </td>
        <td><span>21</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: rgb(0, 166, 81);">CONCOURS </div>
        </td>
        <td><span>22</span></td>
</tr>
    <tr align="center" bgcolor="#f0ffff" height="100px">
      <td><span>23</span></td>
        <td><span>24</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: red;">WORKSHOPS </div>
        </td>
        <td><span>25</span></td>
        <td><span>26</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(186, 229, 251);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
        </td>
        <td><span>27</span></td>
        <td><span>28</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: rgb(0, 166, 81);">CONCOURS </div>
        </td>
        <td><span>29</span></td>
    </tr>
    <tr align="center" bgcolor="#f0ffff" height="100px">
      <td><span>30</span></td>
        <td  class="first_span"><span>31</span></td>
        <td  class="first_span"><span>1</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: red;">WORKSHOPS </div>
        </td>
        <td  class="first_span"><span>2</span>
          <div style="width: 91px; height: 30px; 
          position: absolute; top: 45px;left: 0;font-size: 12px;
          line-height: 30px;color: black;font-weight: 500;
          background-color: rgb(186, 229, 251);">COURS THÉORIE</div>
          <span style="position: absolute; font-size: 12px;
          top: 70px;left: 88px; color: #999999;font-weight: 500;
          ;">14h30</span>
          <h3 class="bg_right" style=" position: absolute; left: 75px; top: 34px;">END</h3>
        </td>
        <td  class="first_span"><span>3</span></td>
        <td  class="first_span"><span>4</span>
          <div style="width: 90px; height: 30px; 
          position: absolute; top: 0;left: 0;
          line-height: 30px;color: aliceblue;font-weight: 500;
          background-color: rgb(0, 166, 81);">CONCOURS </div>
        </td>
        <td  class="first_span"><span>5</span></td>
    </tr>
 
</table>
 <div class="footer"> <input type="checkbox" name="" id="" >
  <span class="text1">Importer mon emploi du temps  sur mon agenda :</span>
  
  <div class="footer_bottom">
    <div class="one">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Agenda Google</span>
    </div>
    <div class="two">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Calandrier Apple</span>
    </div>
    <div class="three">
      <!-- <a-icon type="smile" theme="twoTone" class="one"/> -->
      <input type="checkbox" name="" id="" >
      <span>Microsoft Outlook</span>
    </div>
    
  </div>
</div>
    </main>

    <div class="login">
      <h2>RAPPEL DES COURS</h2>
      <h4>SYNCHRONISER VOS COURS A VOTRE AGENDA PERSONNEL :</h4>
      <h5>Prenez de bonnes habitudes et ayez toujours un œil sur votre programme de cours dans</h5>
      <h5>votre agenda préféré.</h5>
      <h5>Nous vous conseillons de synchroniser votre planning sur votre agenda personnel : </h5>
      <h5>Necessite : Google Calendar, Apple Calendrier ou Outlook.</h5>
      <div class="img-box">
        <img src="" alt="" class="imgUrl">
        <img src="" alt="" class="imgUrl">
        <img src="" alt="" class="imgUrl">
      </div>
      <div class="top">
        AUTORISEZ LA SYNCHRONISATION DU CALENDRIER 
      </div>
      <h4 style="margin-top: 50px;">NOTIFICATION PUSK</h4>
      <h5>Vous avez repéré un enseignament qui vous plait.</h5>
      <h5> Protez de la «Noticatgion push» qui vous permet de recevoir des noticagtions auto</h5>
      <h5>matique.</h5>
      <h5 style="margin-top: 50px;">Autorisez REPUBLIC OF ARTS à vous envoyer des notications par :</h5>
      <form class="" report-submit="false" bindsubmit="" bindreset="">
        <div class="typechang" style="margin-bottom: 20px;">
          <span >SMS</span>
          <input type="text" placeholder="0033 - 0. .. .. .. .. .. ">
        </div>
        <div class="usename">
          <span style="margin-right: 40px;">MAIL</span>
          <input type="text" placeholder="...... @.... com ">
        </div>
        <button class="sumbit">VALIDER</button>
      </form>
        
      
</div>
  </div>
 
</template>

<script>
export default {
  name: "personnel",
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.Weboder{
  width: 100%;
  padding: 10px;
  background-color: rgb(218, 222, 222);
  .top_one{
    h2{
      color: #0f1b41;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0px;
}
.top_one_box{
  .box_lift, .box_right{
    display:inline-block;
    margin-right: 50px;
     p{
      display:inline-block;
      margin-right: 20px;
      height: auto;
      font-size: 12px;
     }
     .bg_lift,.bg_right{
      width: 40px;
      height: 20px;
      line-height: 20px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
     }
     .bg_lift{
      background-color: rgb(113, 198, 65);
     }
     .bg_right{
      background-color: rgb(237, 38, 36);
     }
  }
  
  
}
.top_two_box{
    .button3, .check, .button1, .button2{
      display: inline-block;
    }
    .button3, .button1, .button2{
      margin-left: 15px;
    width: 100px;
    line-height: 30px;
    border: 2px solid #999999;
    color: #999999;
    height: 30px;
    text-align: center;
    }
    .button3{
      background-color: #0f1b41;
      font-weight: 600;
      color: azure;
      border: 0px;
    }
    .check{
      font-weight: 800;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #0f1b41;
    }
  }
  }
  .center_one{
    background-color: rgb(218, 222, 222);
    .bg_lift,.bg_right{
      width: 40px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
    border-radius: 10px;
    color: aliceblue;
     }
     .bg_lift{
      background-color: rgb(113, 198, 65);
     }
     .bg_right{
      background-color: rgb(237, 38, 36);
     }
    td{
      text-align: center;
      width: 100px;
      height: 160px;
      position: relative;
      background-color: aliceblue;
      span{
       display: block;
       width: 50px;
       height: 50px;
       font-size: 20px;
       line-height: 50px;
       font-weight: 600px;
       position: absolute;
       top: 0;
       right: 0;
      }
      .types{
        background-color: red;
        color: aliceblue;
        border-radius: 50%;
      }
    }
    .first_span{
      background-color: rgb(204, 205, 207);
    }
    .footer{
      width: 100%;
        position: relative;
      height: 140px;
      margin-top: 10px;
      .text1{
        display:inline-block;
        line-height: 30px;
        margin-bottom: 10px;
        position: absolute;
        top: 4px;
        left: 50px;
      }
      input{
        margin: 10px 20px;
      width: 20px;
      height: 20px;
      }
      .footer_bottom{
     
        width: 70%;
        height: 40px;
        line-height: 40px;
        margin-left: 80px;
        display: flex;
        justify-content: space-between;
        .one,.two,.three{
          width: 200px;
          position: relative;
          height: 60px;
        }
        .one span,.two span,.three span{
          position: absolute;
          top: 0px;
        }
        // .one a-icon,.two a-icon,.three a-icon{
        //   width: 10px;
        //   height: 10px;
        //   position: absolute;
        //   top: 0px;
        // }
      }
    }

  }
  
}
.login{
  width: 100%;
  background-color: rgb(218, 222, 222);
  margin-top: 20px;
  padding: 24px;
  h2{
    color: #0f1b41;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0px;
  }
  h4{
    color: #0f1b41;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 700;
    
  }
  h5{
    margin-bottom: 15px;
    font-size: 20px;
  }
  .img-box{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: auto;
    .imgUrl{
    width: 50px;
    height: 50px;
  }
  }
  .top{
    width: 415px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding-left: 12px;
    background-color: red;
    color: aliceblue;
    font-weight: 700;
  }
  .typechang,.usename{
    width: 100%;
    padding-left: 60px;
    span{
      color: #0f1b41;
    font-weight: 750;
    font-size: 25px;
    margin-right: 50px;
    }
    input{
      width: 415px;
      height: 34px;
    }
  }
  .sumbit{
    width: 125px;
    height: 35px;
    margin: 19px 0 0 0;
    background-color: red;
    border: transparent;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
  }
}

// h4{
//   color: black;
// }
</style>