<template>
  <div>23333333333333333</div>
</template>

<script>
export default {
  name: "evenementsright",
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
</style>