<template>
  <div>
    <div style="height: 600px">
      <div
        style="
          display: flex;
          align-items: center;
          background-color: #dadede;
          height: 80px;
          padding: 0 20px;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center; width: 70%">
          <p
            style="
              width: 35%;
              height: 50px;
              background: #0f1b41;
              color: #fff;
              line-height: 50px;
              font-size: 20px;
              text-align: center;
              margin: 0px 10px 0 0;
            "
          >
            <a-icon type="environment" theme="filled" />
            CONFERENCES
          </p>
          <div style="font-size: 20px; font-weight: bold">JE PARTICIPE</div>
        </div>

        <div>
          <img
            class="titile-img"
            src="@/assets/Source/icon/so.png"
            style="width: 20px; margin-right: 5px"
            alt=""
          />

          <img
            class="titile-img"
            src="@/assets/Source/icon/mail3.png"
            style="width: 25px; margin-right: 5px"
            alt=""
          />
          <img
            class="titile-img"
            src="@/assets/Source/icon/like_active.png"
            style="width: 25px"
            alt=""
          />
        </div>
      </div>

      <div class="wrap">
        <div class="top">
          <div>2/03/2023-15h34</div>
          <div></div>
        </div>
        <div>SUMMER SCHOOL - SHANGHAI 2023</div>
        <div>
          <span>CONFERENCES</span>
          <span>&nbsp;&nbsp;《ART EN SCENE》»</span>
        </div>
        <div>
          <span>PARTICIPANTS:</span>
          <span>&nbsp;&nbsp;:TOUS LES ETUDIANTS DES WORKSHOPS 2022-2023</span>
        </div>
        <div>
          <span>LIEU:</span>
          <span>&nbsp;&nbsp;:MUSEE WEST BUN SHANGHAI</span>
        </div>
        <div>
          Tous les etudiants ayant participes aux workshops de l'annee 2022-23
          peuvent s'inscrire-pour participer a la grande exposition qui se
          tiendra au Musee West Bun Shanghai, du 1Juin au 20 juillet 2023. Un
          cycle de confrences organis par E-ART CAMPUS ...Plus d'info ...
        </div>
        <div>Plus de détail ...</div>
        <div
          style="
            width: 25%;
            height: 30px;
            background: red;
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            display: inline-block;
            margin: 10px 10px 10px 0;
          "
        >
          JE RESERVE MA PLACE
          <a-icon type="plus-circle" theme="filled" style="font-size: 16px" />
        </div>
        <span style="color:red;vertical-align">
          plus que 12 places disponlbles (12/80 places]
        </span>
        <div class="img"></div>
      </div>
    </div>

    <div style="height: 600px;margin-top:20px">
      <div
        style="
          display: flex;
          align-items: center;
          background-color: #dadede;
          height: 80px;
          padding: 0 20px;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center; width: 70%">
          <p
            style="
              width: 35%;
              height: 50px;
              background: #0f1b41;
              color: #fff;
              line-height: 50px;
              font-size: 20px;
              text-align: center;
              margin: 0px 10px 0 0;
            "
          >
            <a-icon type="environment" theme="filled" />
            CONFERENCES
          </p>
          <div style="font-size: 20px; font-weight: bold">JE PARTICIPE</div>
        </div>

        <div>
          <img
            class="titile-img"
            src="@/assets/Source/icon/so.png"
            style="width: 20px; margin-right: 5px"
            alt=""
          />

          <img
            class="titile-img"
            src="@/assets/Source/icon/mail3.png"
            style="width: 25px; margin-right: 5px"
            alt=""
          />
          <img
            class="titile-img"
            src="@/assets/Source/icon/like_active.png"
            style="width: 25px"
            alt=""
          />
        </div>
      </div>

      <div class="wrap">
        <div class="top">
          <div>2/03/2023-15h34</div>
          <div></div>
        </div>
        <div>SUMMER SCHOOL - SHANGHAI 2023</div>
        <div>
          <span>CONFERENCES</span>
          <span>&nbsp;&nbsp;《ART EN SCENE》»</span>
        </div>
        <div>
          <span>PARTICIPANTS:</span>
          <span>&nbsp;&nbsp;:TOUS LES ETUDIANTS DES WORKSHOPS 2022-2023</span>
        </div>
        <div>
          <span>LIEU:</span>
          <span>&nbsp;&nbsp;:MUSEE WEST BUN SHANGHAI</span>
        </div>
        <div>
          Tous les etudiants ayant participes aux workshops de l'annee 2022-23
          peuvent s'inscrire-pour participer a la grande exposition qui se
          tiendra au Musee West Bun Shanghai, du 1Juin au 20 juillet 2023. Un
          cycle de confrences organis par E-ART CAMPUS ...Plus d'info ...
        </div>
        <div>Plus de détail ...</div>
        <div
          style="
            width: 25%;
            height: 30px;
            background: red;
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            display: inline-block;
            margin: 10px 10px 10px 0;
          "
        >
          JE RESERVE MA PLACE
          <a-icon type="plus-circle" theme="filled" style="font-size: 16px" />
        </div>
        <span style="color:red;vertical-align">
          plus que 12 places disponlbles (12/80 places]
        </span>
        <div class="img"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "travail",
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.wrap {
  padding: 10px 20px;
  width: 100%;
  height: calc(100% - 80px );
  background-color: rgb(218, 222, 222);
  margin-bottom: 15px;
  color: rgb(15, 27, 65);
  font-family: "微软雅黑";
  .top {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }
  > div:nth-child(2) {
    font-size: 30px;
    font-family: Impact;
  }
  > div:nth-child(3) {
    > span:nth-child(1) {
      font-size: 18px;
      font-family: Impact;
    }
    > span:nth-child(2) {
      font-weight: 500;
    }
  }
  > div:nth-child(4) {
    margin-bottom: 5px;
    > span:nth-child(1) {
      font-family: Impact;
      font-size: 18px;
    }
    > span:nth-child(2) {
      font-weight: 500;
    }
  }
  > div:nth-child(6) {
    font-size: 15px;
    font-family: Impact;
  }
  .img {
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
  }
}
</style>