<template>
  <a-layout
    id="components-layout-demo-responsive"
    style="margin-top: 10px; background: #fff"
  >
    <a-layout-sider
      breakpoint="lg"
      collapsed-width="0"
      @collapse="onCollapse"
      @breakpoint="onBreakpoint"
      style="
        background: #dadede;
        max-width: 19%;
        min-width: 19%;
        width: 19%;
        height: 100%;
        overflow: auto;
      "
    >
      <div class="logo">
        <div></div>
      </div>
      <a-menu
        theme="dark"
        mode="inline"
        :default-selected-keys="['1-1']"
        :default-open-keys="['sub1']"
      >
        <a-sub-menu key="sub1">
          <span
            slot="title"
            @click="model = 0"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 10px;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/agenda.png"
              alt=""
              style="margin-right: 20px"
            />
            <router-link to="/enseignements"
              >MES ENSELGNEMENTS</router-link
            ></span
          >
          <a-menu-item
            key="1-1"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding-left: 0;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/like_active.png"
              alt=""
              style="width: 20px"
            />
            <router-link to="/enseignements/likes">
              <span style="font-size: 13px; font-weight: 200; margin-left: 48%">
                MES 《LIKES》</span
              >
              <br />
              MES COUPS DE CCEUR</router-link
            >
          </a-menu-item>
          <a-menu-item
            @click="model = 1"
            key="1-2"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/enseignements/cours">
              <span style="font-size: 13px; font-weight: 200; margin-left: 48%"
                >MES COURS</span
              >
              <br />
              RESERVES ET REGLES</router-link
            >
          </a-menu-item>
          <a-menu-item
            key="1-3"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/enseignements/passes">
              <span style="font-size: 13px; font-weight: 200"
                >MES COURS PASSES</span
              >
              <br />
              <span style="margin-left: 34%">ARCHIVES</span>
            </router-link>
          </a-menu-item>
        </a-sub-menu>
        <a-sub-menu key="sub2">
          <span
            slot="title"
            @click="model = 2"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 10px;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/school.png"
              alt=""
              style="margin-right: 20px"
            />
            <router-link to="/decole">CHOIX DECOLE</router-link>
          </span>

          <a-menu-item
            :style="`padding: 0 10px;height:${sub2 == 0 ? 475 : 60}px`"
            key="2-1"
          >
            <p
              class="title"
              style="
                width: 108%;
                position: relative;
                left: -9px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                margin: 0;
              "
              @click="sub2 = 0"
            >
              TYPE D'ECOLE
            </p>
            <div class="nav-text" v-if="sub2 == 0">
              TOUTES
              <Box style="float: right; margin-top: 12px; line-height: 0px" />
              <li>
                <div>
                  <li
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      border-bottom: 2px solid grey;
                    "
                  >
                    <div>ECOLES D'ART</div>
                    <div>
                      <div
                        style="
                          height: 35px;
                          line-height: 35px;
                          border-bottom: 2px solid grey;
                        "
                      >
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #2ac4f4;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                      <div style="height: 35px; line-height: 35px">
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #4371b7;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                    </div>
                  </li>
                  <li
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border-bottom: 2px solid grey;
                    "
                  >
                    <div>UNIVERSITES</div>
                    <div>
                      <div
                        style="
                          height: 35px;
                          line-height: 35px;
                          border-bottom: 2px solid grey;
                        "
                      >
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #86c440;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                      <div style="height: 35px; line-height: 35px">
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #f8992d;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                    </div>
                  </li>
                  <li
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border-bottom: 2px solid grey;
                    "
                  >
                    <div>ECOLES DESIGN</div>
                    <div>
                      <div
                        style="
                          height: 35px;
                          line-height: 35px;
                          border-bottom: 2px solid grey;
                        "
                      >
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #c89626;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                      <div style="height: 35px; line-height: 35px">
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #ef4a2c;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                    </div>
                  </li>
                  <li
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border-bottom: 2px solid grey;
                    "
                  >
                    <div>PREPA</div>
                    <div>
                      <div
                        style="
                          height: 35px;
                          line-height: 35px;
                          border-bottom: 2px solid grey;
                        "
                      >
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #70479c;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                      <div style="height: 35px; line-height: 35px">
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #2b2728;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                    </div>
                  </li>
                  <li
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border-bottom: 2px solid grey;
                    "
                  >
                    <div style="line-height: 20px">
                      ECOLES
                      <br />
                      JEUVIDEO
                      <br />
                      ANIMATION 3D
                    </div>
                    <div>
                      <div
                        style="
                          height: 35px;
                          line-height: 35px;
                          border-bottom: 2px solid grey;
                        "
                      >
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #8e8f92;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                      <div style="height: 35px; line-height: 35px">
                        PUBLICS
                        <span
                          style="
                            display: inline-block;
                            background: #3b9c71;
                            width: 7px;
                            height: 15px;
                            margin: 0 5px;
                          "
                        ></span>
                        <Box style="line-height: 0px" />
                      </div>
                    </div>
                  </li>
                </div>
              </li>
            </div>
          </a-menu-item>
          <a-menu-item
            :style="`padding: 0 10px;height:${sub2 == 1 ? 630 : 60}px`"
            key="2-2"
          >
            <p
              @click="sub2 = 1"
              class="title"
              style="
                width: 108%;
                position: relative;
                left: -9px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                margin: 0;
              "
            >
              TYPE DE FORMATION
            </p>
            <div class="nav-text" style="text-align: right" v-if="sub2 == 1">
              <li>
                <span style="margin-right: 20px"> TOUTES</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> PEINTURE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> DESIGN GRAPHIQUE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> ILLUSTRATION /BD</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>

              <li>
                <span style="margin-right: 20px"> COM.VISUELLE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> SCULPTURE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> PHOTOGRAPHIE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> INSTALLATION</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>

              <li>
                <span style="margin-right: 20px"> DESIGN PRODUIT</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> ARCHITECTURE INTERIEURE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>

              <li>
                <span style="margin-right: 20px"> ART NUMERIQUE</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> GAME DESIGN</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>

              <li>
                <span style="margin-right: 20px"> UX DESIGN</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
              <li>
                <span style="margin-right: 20px"> REALITE VIRTUEL (VR)</span>
                <Box style="float: right; margin-top: 12px; line-height: 0px" />
              </li>
            </div>
          </a-menu-item>
        </a-sub-menu>
        <a-sub-menu key="sub3">
          <span
            slot="title"
            @click="model = 3"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 10px;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/agenda.png"
              alt=""
              style="margin-right: 20px"
            />
            <router-link to="/planning">MON PLANNING</router-link></span
          >
          <a-menu-item
            key="3-1"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/planning/personnel"
              >PLANNING PERSONNEL</router-link
            >
          </a-menu-item>
          <a-menu-item
            key="3-2"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/planning/cours">RAPPEL DES COURS</router-link>
          </a-menu-item>
        </a-sub-menu>
        <a-sub-menu key="sub4">
          <span
            slot="title"
            @click="model = 4"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 10px;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/evaluation.png"
              alt=""
              style="margin-right: 20px; height: 22px"
            />
            <router-link to="/evolitions">MES EVOLUTIONS</router-link></span
          >
          <a-menu-item
            key="4-1"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/evolitions/evolition"
              >NOTES ET EVALUATIONS</router-link
            >
          </a-menu-item>
          <a-menu-item
            key="4-2"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/evolitions/orientation"
              >CONSEILS ET ORIENTATION</router-link
            >
          </a-menu-item>
        </a-sub-menu>
        <a-menu-item key="sub5" style="height: 60px; line-height: 60px">
          <span
            class="nav-text"
            @click="model = 5"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 28px;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/news.png"
              alt=""
              style="margin-right: 20px"
            />
            <router-link to="/news">NEWS/INFOS</router-link></span
          >
        </a-menu-item>
        <a-menu-item key="sub6" style="height: 60px; line-height: 60px">
          <span
            class="nav-text"
            @click="model = 6"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 28px;
            "
          >
            <img
              class="titile-img"
              src="@/assets/Source/icon/mail.png"
              alt=""
              style="margin-right: 20px"
            />
            <router-link to="/messages">NEWS MESSAGES</router-link></span
          >
        </a-menu-item>
        <a-sub-menu key="sub7">
          <span
            slot="title"
            @click="model = 7"
            style="
              display: inline-block;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 10px;
            "
          >
            <a-icon
              type="environment"
              theme="filled"
              style="font-size: 12px; margin-right: 20px"
            />
            <router-link to="/evenements">MES EVENEMENTS</router-link></span
          >
          <a-menu-item
            key="6-1"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/evenements/travail">
              JEXPOSE MON TRAVAIL
            </router-link>
          </a-menu-item>
          <a-menu-item
            key="6-2"
            style="
              height: 60px;
              line-height: 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 14% 0 0;
            "
          >
            <router-link to="/evenements/conferences">
              <span style="margin-left: 37%">JE PARTICIPE</span>
              <br />
              A DES CONFERENCES</router-link
            >
          </a-menu-item>
        </a-sub-menu>
      </a-menu>
      <div
        style="
          text-align: center;
          width: 75%;
          height: 40px;
          color: #fff;
          border-radius: 20px;
          background: #f1582d;
          line-height: 40px;
          font-size: 18px;
          font-weight: bold;
          margin: auto;
          margin-top: 50px;
        "
      >
        <a-icon type="phone" style="font-size: 20px" />
        ASSISTANCE
      </div>
    </a-layout-sider>
    <a-layout style="margin: 0 10px; background: #fff">
      <a-layout-header
        :style="{
          background: '#0f1b41',
          height: '150px',
          lineHeight: 'unset',
          paddingLeft: '20px',
        }"
      >
        <p
          v-if="model == 0 || model == 1"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          MES ENSEIGNEMENTS
        </p>
        <p
          v-if="model == 2"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          CHOIX D'ECOLES
        </p>
        <p
          v-if="model == 3"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          MON PLANNING
        </p>
        <p
          v-if="model == 4"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          MES EVALUATIONS
        </p>
        <p
          v-if="model == 5"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          NEWS / INFOS
        </p>
        <p
          v-if="model == 6"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          MES MESSAGES
        </p>

        <p
          v-if="model == 7"
          style="
            color: #fff;
            font-size: 34px;
            font-weight: bolder;
            margin: 12px 0 10px 0;
          "
        >
          MES EVENEMENTS
        </p>
        <span
          v-if="model == 0"
          style="color: red; font-size: 20px; font-weight: bolder"
          >VOU5 VOU5 N'ETES PA5 INSCRIT A DES COURS ET VOUS N'AVEZ PAS<br />
          ACTUELLEMENT DE PROGRAMME RESERVES SUR REPUBLIC OF ARTS.</span
        >
        <span
          v-else-if="model == 1"
          style="color: #fff; font-size: 20px; font-weight: bolder"
          >Retrouvez dans cette rubrique tous vos cours likes, a venir reserves
          et passes.</span
        >
        <span
          v-else-if="model == 2"
          style="color: #fff; font-size: 16px; font-weight: bolder"
          >Felicitation!<br />
          Vous avez un programme qui va vous permettre de bien vous
          perfectionner dans<br />
          votre pratique et connaissance de la creation.</span
        >
        <span
          v-else-if="model == 3"
          style="color: #fff; font-size: 16px; font-weight: bolder"
        >
          Votre planning est automatiqueemnt mis a jours au fur et a mesure de
          vos inscrip<br />
          tions. ll vous permet davoir une, lisibilit global sur toute votre
          formation cher Repu.<br />
          blic of Arts.
        </span>
        <span
          v-else-if="model == 4"
          style="color: #fff; font-size: 16px; font-weight: bolder"
        >
          Tous les cours sont sont evalues par l'enseignant une fois
          termines.<br />
          Les evaluations sont classees de la plus recente a la plus ancienne.
        </span>

        <span
          v-else-if="model == 5"
          style="color: #fff; font-size: 16px; font-weight: bolder"
        >
          toutes les informations sur les enseignements et les activites des
          ecoles sont presentees <br />
          ici.
        </span>
        <span
          v-else-if="model == 6"
          style="color: #fff; font-size: 16px; font-weight: bolder"
        >
          Tous mes messages sont consultables dans cette rubrique <br />
          La limite de lhistorique des messages est de 12 mois
        </span>

        <span
          v-else-if="model == 7"
          style="color: #fff; font-size: 16px; font-weight: bolder"
        >
          Les evenements sont des activites (expositions, conferences, ...) en
          presenciel permettant<br />
          aux tudiants de la REPUBLIC OF ARTS de rencontrer d'autres etudiants
          avec lesqules ils<br />ont partages des cours en ligne, mais aussi des
          enseignants, et des personalites du
        </span>
      </a-layout-header>
      <a-layout-content :style="{ margin: '10px 0 0 0', background: '#fff' }">
        <div :style="{ padding: '0px', minHeight: '360px' }">
          <router-view></router-view>
        </div>
      </a-layout-content>
    </a-layout>
    <a-layout-sider
      style="
        max-width: 25%;
        min-width: 25%;
        width: 25%;
        height: 100%;
        overflow: auto;
      "
    >
      <div>
        <router-view name="right"></router-view>
      </div>
    </a-layout-sider>
  </a-layout>
</template>

<script>
import Box from "@/components/common/click.vue";
export default {
  name: "page",
  components: { Box },
  data() {
    return {
      model: 0,
      sub2: 0,
    };
  },

  methods: {
    onCollapse(collapsed, type) {
      console.log(collapsed, type);
    },
    onBreakpoint(broken) {
      console.log(broken);
    },
  },
};
</script>

<style lang="less" scoped>
#components-layout-demo-responsive {
  height: calc(100% - 100px);
  .logo {
    height: 140px;
    background: #dadede;
  }

  ::v-deep .ant-menu {
    margin-top: 10px;
    font-weight: bold;
    background: #ffffff;
    .ant-menu-submenu-title {
      height: 55px;
      line-height: 55px;
      i {
        transform: scale(2);
      }
    }
    .ant-menu-submenu-open {
      .ant-menu-submenu-title {
        background: #0f1b41;
        a {
          color: #fff !important;
        }
        i::before {
          background: #fff !important;
        }
        i::after {
          background: #fff !important;
        }
      }
      .ant-menu-inline .ant-menu-item:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    * {
      color: #000 !important;
      .ant-menu-submenu-arrow::before,
      .ant-menu-submenu-arrow::after {
        background: #000;
      }
    }
    .ant-menu-submenu {
      background: #dadede;
      .ant-menu-item {
        background: #ffffff;
      }
    }
    li:nth-child(2) {
      .ant-menu-item {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
      }
      .ant-menu-item:nth-child(2) {
      }
      .ant-menu-item-selected {
        background: #ffffff !important;
        .title {
          background: #a4a2b3 !important;
        }
      }
    }
    .ant-menu-item-selected {
      background: #a4a2b3 !important;
    }
    .ant-menu-item {
      a {
        display: inline-block;
      }
      background: #dadede;
    }
    .titile-img {
      width: 20px;
    }
    .ant-menu-sub {
      background: #dadede;
    }
  }
}
</style>
