<template>
  <div>
    <div class="title">
      <slot></slot>
    </div>
    <div class="card">
      <div>
        <img
          src="@/assets/Source/images/资源 28main.png"
          alt=""
          style="width: 80px"
        />
      </div>
      <div class="right" style="padding-top: 20px">
        <div class="r-l" style="width: 55%">
          <div
            style="
              width: %;
              background: #030000;
              color: #fff;
              font-weight: bold;
              height: 25px;
              line-height: 25px;
              text-align: center;
            "
          >
            INSTALATION PUBLIC
          </div>
          <div>
            <div style="font-size: 14px; font-weight: bolder; color: #000">
              ICONOGRAPHISMEDE LIMAGEAU DESSIN
            </div>
            <p style="font-weight: bold; font-size: 14px">Avec Robert MALY</p>
          </div>
        </div>

        <div class="r-r">
          <img
            class="titile-img"
            src="@/assets/Source/icon/doc.png"
            style="width: 20px; margin-right: 5px"
            alt=""
          />

          <img
            class="titile-img"
            src="@/assets/Source/icon/mail3.png"
            style="width: 25px; margin-right: 5px"
            alt=""
          />
          <img
            class="titile-img"
            src="@/assets/Source/icon/like_active.png"
            style="width: 25px"
            alt=""
          />
          <div
            style="
              font-size: 1em;
              font-weight: bold;
              color: #000;
              margin-top: 50px;
            "
          >
            Voir plus ...
            <img
              class="titile-img"
              src="@/assets/Source/icon/arrow1.png"
              style="width: 1em; margin-right: 5px"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "card1",
  props: {
    vid: String,
  },
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.title {
  width: 55%;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  background: linear-gradient(-130deg, transparent 52px, #bae5fb 0) top right;
  // background: pink;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 2%;
  color: #000000;
  font-weight: bold;
}
.card {
  width: 100%;
  height: 130px;
  background-color: #bae5fb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .right {
    width: 75%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
  }
}
</style>