<template>
  <div style="filter: drop-shadow(5px 3px 5px grey)">
    <div
      class="title"
      :style="`background: linear-gradient(-130deg, transparent 52px, ${color} 0) top right;`"
    >
      <slot></slot>
    </div>
    <div class="card" :style="`background:${color}`">
      <div class="video">
        <img
          class="titile-img"
          src="@/assets/Source/icon/mooc.png"
          style="width: 40px"
          alt=""
        />
        <div class="bottom">
          <img
            class="titile-img"
            src="@/assets/Source/icon/title2.png"
            style="width: 50px"
            alt=""
          />
          <span
            style="
              font-size: 11px;
              display: inline-block;
              transform: scale(0.7);
              position: relative;
              top: -20px;
              left: 40px;
            "
            >VOIR MA CLASSE</span
          >
          <!-- <br /> -->
          <div style="display: flex; margin: -10px 0 0 0">
            <div
              style="
                width: 65px;
                border: 2px solid;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                margin-right: 5px;
                transform: scale(0.8);
              "
            >
              PARTAGER
            </div>
            <div
              style="
                width: 65px;
                border: 2px solid;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                margin-right: 5px;
                transform: scale(0.8);
              "
            >
              OFFRIR
            </div>
          </div>
        </div>
      </div>
      <div class="right" style="transform: scale(0.7)">
        <div class="r-l" style="margin-right: 20px">
          <div
            style="
              width: 100%;
              background: #030000;
              color: #fff;
              font-weight: bold;
              height: 25px;
              line-height: 25px;
              text-align: center;
            "
          >
            DESSIN & PHOTOGRAPHIE DU CORPS
          </div>
          <span style="font-size: 12px; color: #fff">
            Appeencre le dessi associe s la photographie pour sen servir dans<br />
            une oeuvre en yolume</span
          >
          <div>
            <span style="color: yellow">
              <img
                class="titile-img"
                src="@/assets/Source/icon/collection.png"
                style="width: 18px; margin-right: 5px"
                alt=""
              />
              <span>3.7</span>
            </span>
            <span
              style="
                display: inline-block;
                background: rgb(255, 255, 255);
                font-weight: bold;
                border-radius: 8px;
                width: 35px;
                font-size: 12px;
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0 0 0 10px;
              "
            >
              AET
            </span>
            <span
              style="
                display: inline-block;
                background: rgb(255, 255, 255);
                font-weight: bold;
                border-radius: 8px;
                width: 60px;
                font-size: 12px;
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0 0 0 10px;
              "
            >
              DESION
            </span>
            <span
              style="
                display: inline-block;
                background: rgb(255, 255, 255);
                font-weight: bold;
                border-radius: 8px;
                width: 100px;
                font-size: 12px;
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0 0 0 10px;
              "
            >
              PHOTODRAPHE
            </span>
          </div>
          <div>
            <div style="display: inline-block; color: #fff; margin-right: 10px">
              Cree par:
              <span
                style="
                  display: inline-block;
                  font-size: 12px;
                  vertical-align: top;
                  height: 40px;
                "
                >Robert MALY <br />
                <span style="position: absolute"
                  >Artiste - Socio-anthropologue</span
                >
              </span>
            </div>
            <img
              class="titile-img"
              src="@/assets/Source/icon/auth.png"
              style="width: 18px"
              alt=""
            />
            <span style="color: yellow">
              <img
                class="titile-img"
                src="@/assets/Source/icon/collection.png"
                style="width: 18px; margin-right: 5px"
                alt=""
              />
              <span>4.3</span>
            </span>
            <span style="color: #fff">
              <img
                class="titile-img"
                src="@/assets/Source/icon/booked.png"
                style="width: 18px"
                alt=""
              />
              2</span
            >

            <img
              class="titile-img"
              src="@/assets/Source/icon/title.png"
              style="width: 70px"
              alt=""
            />
          </div>
          <div>
            <img
              class="titile-img"
              src="@/assets/Source/icon/eart.png"
              style="width: 25px"
              alt=""
            />
            <span style="color: #fff; font-weight: bold; margin: 10px"
              >NIYEAU</span
            >
            <img
              class="titile-img"
              src="@/assets/Source/icon/title1.png"
              style="width: 110px"
              alt=""
            />
          </div>
        </div>

        <div class="r-r" style="width: 114px">
          <img
            class="titile-img"
            src="@/assets/Source/icon/so.png"
            style="width: 18px; margin-right: 5px"
            alt=""
          />

          <img
            class="titile-img"
            src="@/assets/Source/icon/mail3.png"
            style="width: 20px; margin-right: 5px"
            alt=""
          />
          <img
            class="titile-img"
            src="@/assets/Source/icon/like_active.png"
            style="width: 20px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "card",
  props: {
    vid: String,
    color: {
      type: String,
      default: "#f8ad9e",
    },
  },
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.title {
  width: 45%;
  height: 25px;
  // background: pink;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 5%;
  color: #fff;
  font-weight: bold;
}
.card {
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  .video {
    width: 35%;
    height: 145px;
    margin-left: 20px;
    box-shadow: 0px 5px 5px grey;
    position: relative;
    .bottom {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
      background: #fff;
      padding-left: 10px;
    }
  }
  .right {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
  }
}
</style>