<template>
  <div class="card3" :style="`height: ${height};`">
    <div class="de-first">
      <div class="fi-one">
        <div class="tri-one">{{ ltone }} <span></span></div>
        <div class="tri-two"></div>
        <div class="tri-three"></div>
      </div>
      <div class="fi-two">
        {{ lttwo }}
      </div>

      <!-- <div>HEAR</div> -->
    </div>
    <div class="de-second">
      <div style="transform: scaleX(0.8); margin-left: -12px">
        <p>{{ ceone }}</p>
        <p>FORMATION :</p>
        <p>{{ cethree }}</p>
        <p>{{ cefour }}</p>
      </div>
      <div style="cursor: pointer;font-size:20px;margin-left: -19px;">
        {{ flag ? "❤" : "🤍" }}
      </div>
    </div>
    <!-- <div class="de-third">&gt;</div> -->
  </div>
</template>

<script>
export default {
  name: "card3",
  props: [
    "ltone",
    "lttwo",
    "ceone",
    "cetwo",
    "cethree",
    "cefour",
    "flag",
    "height",
  ],
};
</script>
<style scoped lang="less">
.card3 {
  width: 100%;
  height: 220px;
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 15px 0;

  .de-first {
    flex-basis: 20%;
    border-right: 3px solid rgb(89, 86, 87);
    box-sizing: border-box;
    position: relative;
    padding: 10px;

    .fi-one {
      .tri-one {
        width: 75px;
        height: 25px;
        border: 2px solid #999;
        position: relative;
        line-height: 23px;
        font-weight: 800;
        text-align: center;
        color: #2ac4f4;
        font-size: 12px;

        &::after {
          position: absolute;
          content: "";
          width: 17px;
          // height: 0;
          border: 4px solid #fff;
          bottom: -4px;
          left: 0;
        }

        span {
          display: inline-block;
          position: absolute;
          right: 0;
          width: 15px;
          height: 100%;
          background-color: rgb(42, 196, 244);
          border-left: 2px solid #999;
        }
      }

      .tri-two {
        width: 18px;
        height: 15px;
        border-top: 2px solid #999;
        border-left: 2px solid #999;
      }

      .tri-three {
        width: 0;
        height: 25px;
        border-left: 2px solid #999;
        position: absolute;
        top: 30px;
        left: 19px;
        transform: rotate(45deg);
      }
    }

    .fi-two {
      margin: 0 auto;
      font-size: 12px;
      // border: 1px solid #111;
      box-sizing: border-box;
      text-align: center;
      font-weight: 600;
    }
  }

  .de-second {
    box-sizing: border-box;
    padding: 0 12px;
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 700;
      &:nth-child(1) {
        font-weight: 900;
      }

      &:nth-child(2) {
        font-size: 12px;
        color: rgb(42, 196, 244);
        margin-top: -12px;
      }

      &:nth-child(3) {
        font-size: 14px;
        margin-top: -10px;
      }

      &:nth-child(4) {
        font-size: 14px;
        color: rgb(42, 196, 244);
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }

  .de-third {
    flex-basis: 20%;
    text-align: center;
    line-height: 93px;
    font-size: 21px;
  }
}
</style>