<template>
  <div class="card4">
    <img
      class="titile-img"
      src="@/assets/Source/icon/list.png"
      style="width: 70px; height: 67px; margin: 0 5px 0 10px"
      alt=""
    />
    <div>
      <div
        style="
          width: 96%;
          height: 25px;
          background: rgb(15, 27, 65);
          color: rgb(255, 255, 255);
          line-height: 25px;
          font-size: 16px;
          text-align: center;
          display: inline-block;
          font-weight: bold;
        "
      >
        AFFICHER PLUS
        <a-icon type="right" />
      </div>
      <br />
      <span style="color: rgb(15, 27, 65); font-weight: bold; font-size: 12px">
        TOUS LES ETUDIANTS DE LA PLATEFORME
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "card4",
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.card4 {
  display: flex;
  height: 100px;
  background: #ffffff;
  align-items: center;
  justify-content: space-evenly;
}
</style>