<template>
  <div>
    <div class="card">
      <div>
        <img
          src="@/assets/Source/images/资源 28main.png"
          alt=""
          style="width: 80px"
        />
      </div>
      <div class="right" style="padding-top: 20px">
        <div class="r-l">
          <div
            style="
              width: 100%;
              background: #030000;
              color: #fff;
              font-weight: bold;
              height: 25px;
              line-height: 25px;
              text-align: center;
              font-size:12px;
            "
          >
            M. Robert DURAND
          </div>
          <div>
            <img
              class="titile-img"
              src="@/assets/Source/icon/auth.png"
              style="width: 14px; margin-right: 10px"
              alt=""
            />
            <span style="color: yellow; font-size: 16px">
              <img
                class="titile-img"
                src="@/assets/Source/icon/collection.png"
                style="width: 14px; margin-right: 10px"
                alt=""
              />
              <span>4.8</span>
            </span>
            <span style="color: #000; font-size: 16px">
              <img
                class="titile-img"
                src="@/assets/Source/icon/booked.png"
                style="width: 14px; margin-left: 10px"
                alt=""
              />
              2</span
            >
          </div>
        </div>

        <div class="r-r">
          <img
            class="titile-img"
            src="@/assets/Source/icon/doc.png"
            style="width: 20px; margin-right: 5px"
            alt=""
          />

          <img
            class="titile-img"
            src="@/assets/Source/icon/mail3.png"
            style="width: 25px; margin-right: 5px"
            alt=""
          />
          <img
            class="titile-img"
            src="@/assets/Source/icon/like_active.png"
            style="width: 25px"
            alt=""
          />
          <div
            style="
              font-size: 1em;
              font-weight: bold;
              color: #000;
              margin-top: 50px;
            "
          >
            Voir plus ...
            <img
              class="titile-img"
              src="@/assets/Source/icon/arrow1.png"
              style="width: 1em; margin-right: 5px"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "card2",
  props: {
    src: String,
  },
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.card {
  width: 100%;
  height: 130px;
  background-color: #dadcde;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .right {
    height: 130px;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
  }
}
</style>