<template>
  <div
    class="box"
    @click="closeDiaBox"
    :style="`
      width: 16px;
      height: 16px;
      border: 3px solid;
      display: inline-block;
      background:${showDiaBox ? '#030000' : '#fff'};   
      vertical-align: text-top;
      `"
  >
    <img
      src="@/assets/Source/icon/close.png"
      alt=""
      style="width: 12px"
      v-show="showDiaBox"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      showDiaBox: false,
    };
  },
  methods: {
    closeDiaBox() {
      this.showDiaBox = !this.showDiaBox;
    },
  },
};
</script>
  <style>
</style>;
