<template>
  <div class="de-card" :style="`height: ${height};`">
    <div class="de-first">
      <div class="fi-one">
        <div class="tri-one">{{ ltone }} <span></span></div>
        <div class="tri-two"></div>
        <div class="tri-three"></div>
      </div>
      <div class="fi-two">
        {{ lttwo }}
      </div>

      <!-- <div>HEAR</div> -->
    </div>
    <div class="de-second">
      <div>
        <p>{{ ceone }}</p>
        <p>FORMATION :</p>
        <p>{{ cethree }}</p>
        <p>{{ cefour }}</p>
      </div>
      <div style="font-size: 30px; cursor: pointer">
        {{ flag ? "❤" : "🤍" }}
      </div>
    </div>
    <div class="de-third">&gt;</div>
  </div>
</template>

<script>
export default {
  name: "decol-card",
  props: [
    "ltone",
    "lttwo",
    "ceone",
    "cetwo",
    "cethree",
    "cefour",
    "flag",
    "height",
  ],
};
</script>
<style scoped lang="less">
.de-card {
  width: 96%;
  height: 180px;
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 15px 0;

  .de-first {
    flex-basis: 20%;
    border-right: 3px solid rgb(89, 86, 87);
    box-sizing: border-box;
    position: relative;
    padding: 10px;

    .fi-one {
      .tri-one {
        width: 150px;
        height: 40px;
        border: 2px solid #999;
        position: relative;
        line-height: 40px;
        font-weight: 800;
        text-align: center;
        color: rgb(42, 196, 244);

        &::after {
          position: absolute;
          content: "";
          width: 25px;
          // height: 0;
          border: 4px solid #fff;
          bottom: -4px;
          left: 0;
        }

        span {
          display: inline-block;
          position: absolute;
          right: 0;
          width: 15px;
          height: 100%;
          background-color: rgb(42, 196, 244);
          border-left: 2px solid #999;
        }
      }

      .tri-two {
        width: 25px;
        height: 25px;
        border-top: 2px solid #999;
        border-left: 2px solid #999;
      }

      .tri-three {
        width: 0;
        height: 37px;
        border-left: 2px solid #999;
        position: absolute;
        top: 44px;
        left: 23px;
        transform: rotate(45deg);
      }
    }

    .fi-two {
      width: 60%;
      margin: 0 auto;
      // border: 1px solid #111;
      box-sizing: border-box;
      font-size: 20px;
      text-align: center;
      font-weight: 600;
    }
  }

  .de-second {
    box-sizing: border-box;
    padding: 0 32px;
    flex-basis: 70%;
    border-right: 3px solid rgb(89, 86, 87);
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 700;

      &:nth-child(1) {
        font-size: 24px;
        font-weight: 900;
      }

      &:nth-child(2) {
        font-size: 12px;
        color: rgb(42, 196, 244);
        margin-top: -28px;
      }

      &:nth-child(3) {
        font-size: 14px;
        margin-top: -10px;
      }

      &:nth-child(4) {
        font-size: 14px;
        color: rgb(42, 196, 244);
        margin-top: 35px;
        cursor: pointer;
      }
    }
  }

  .de-third {
    flex-basis: 10%;
    font-size: 70px;
    text-align: center;
    line-height: 174px;
  }
}
</style>