<template>
  <div>
    <div style="font-size: 34px; font-weight: bolder; color: #000">
      {{ tit }}
    </div>
    <div style="font-size: 34px; font-weight: bold; color: #1d1c1c">
      {{ tit1 }}
    </div>
    <p style="font-weight: bold; font-size: 20px">
      <slot></slot>
    </p>
  </div>
</template>

<script>
export default {
  name: "tits",
  components: {},
  props: {
    tit: String,
    tit1: String,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="less" scoped>
</style>