<template>
  <div>
    <div class="wrap">
      <div class="top">
        <div>2/03/2023-15h34</div>
        <div>
          <span :style="{ color: 'red' }">
            <template>
              <svg
                width="25px"
                height="25px"
                fill="currentColor"
                viewBox="0 0 1024 1024"
              >
                <path
                  d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                />
              </svg>
            </template>
          </span>
        </div>
      </div>
      <div>CHANGEMENT DE DATE</div>
      <div>
        <span>WORKSHOP</span>
        <span>&nbsp;&nbsp;«COULEURS & MATIERES»</span>
      </div>
      <div>
        <span>ENSEIGNANT</span>
        <span>&nbsp;&nbsp;：YVETTE DUROC</span>
      </div>
      <div>
        Le workshop «Couleurs & matières», réalisé par Yvette Diuroc, prévu du
        19 janvier 2023 au 3 mars 2023, est repoussé au mois de juin, du 3 juin
        au 4 juillet 2023.
      </div>
      <div>Plus de détail ...</div>
      <div class="img"></div>
    </div>
    <div class="wrap">
      <div class="top">
        <div>2/03/2023-15h34</div>
        <div>
          <span :style="{ color: 'red' }">
            <template>
              <svg
                width="25px"
                height="25px"
                fill="currentColor"
                viewBox="0 0 1024 1024"
              >
                <path
                  d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                />
              </svg>
            </template>
          </span>
        </div>
      </div>
      <div>CHANGEMENT DE DATE</div>
      <div>
        <span>WORKSHOP</span>
        <span>&nbsp;&nbsp;«COULEURS & MATIERES»</span>
      </div>
      <div>
        <span>ENSEIGNANT</span>
        <span>&nbsp;&nbsp;：YVETTE DUROC</span>
      </div>
      <div>
        Le workshop «Couleurs & matières», réalisé par Yvette Diuroc, prévu du
        19 janvier 2023 au 3 mars 2023, est repoussé au mois de juin, du 3 juin
        au 4 juillet 2023.
      </div>
      <div>Plus de détail ...</div>
      <div class="img"></div>
    </div>
    <div class="wrap">
      <div class="top">
        <div>2/03/2023-15h34</div>
        <div>
          <span :style="{ color: 'red' }">
            <template>
              <svg
                width="25px"
                height="25px"
                fill="currentColor"
                viewBox="0 0 1024 1024"
              >
                <path
                  d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                />
              </svg>
            </template>
          </span>
        </div>
      </div>
      <div>CHANGEMENT DE DATE</div>
      <div>
        <span>WORKSHOP</span>
        <span>&nbsp;&nbsp;«COULEURS & MATIERES»</span>
      </div>
      <div>
        <span>ENSEIGNANT</span>
        <span>&nbsp;&nbsp;：YVETTE DUROC</span>
      </div>
      <div>
        Le workshop «Couleurs & matières», réalisé par Yvette Diuroc, prévu du
        19 janvier 2023 au 3 mars 2023, est repoussé au mois de juin, du 3 juin
        au 4 juillet 2023.
      </div>
      <div>Plus de détail ...</div>
      <div class="img"></div>
    </div>
    <div class="wrap">
      <div class="top">
        <div>2/03/2023-15h34</div>
        <div>
          <span :style="{ color: 'red' }">
            <template>
              <svg
                width="25px"
                height="25px"
                fill="currentColor"
                viewBox="0 0 1024 1024"
              >
                <path
                  d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                />
              </svg>
            </template>
          </span>
        </div>
      </div>
      <div>CHANGEMENT DE DATE</div>
      <div>
        <span>WORKSHOP</span>
        <span>&nbsp;&nbsp;«COULEURS & MATIERES»</span>
      </div>
      <div>
        <span>ENSEIGNANT</span>
        <span>&nbsp;&nbsp;：YVETTE DUROC</span>
      </div>
      <div>
        Le workshop «Couleurs & matières», réalisé par Yvette Diuroc, prévu du
        19 janvier 2023 au 3 mars 2023, est repoussé au mois de juin, du 3 juin
        au 4 juillet 2023.
      </div>
      <div>Plus de détail ...</div>
      <div class="img"></div>
    </div>
    <div class="wrap">
      <div class="top">
        <div>2/03/2023-15h34</div>
        <div>
          <span :style="{ color: 'red' }">
            <template>
              <svg
                width="25px"
                height="25px"
                fill="currentColor"
                viewBox="0 0 1024 1024"
              >
                <path
                  d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                />
              </svg>
            </template>
          </span>
        </div>
      </div>
      <div>CHANGEMENT DE DATE</div>
      <div>
        <span>WORKSHOP</span>
        <span>&nbsp;&nbsp;«COULEURS & MATIERES»</span>
      </div>
      <div>
        <span>ENSEIGNANT</span>
        <span>&nbsp;&nbsp;：YVETTE DUROC</span>
      </div>
      <div>
        Le workshop «Couleurs & matières», réalisé par Yvette Diuroc, prévu du
        19 janvier 2023 au 3 mars 2023, est repoussé au mois de juin, du 3 juin
        au 4 juillet 2023.
      </div>
      <div>Plus de détail ...</div>
      <div class="img"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "news",
};
</script>

<style lang="less" scoped>
.wrap {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background-color: rgb(218, 222, 222);
  margin-bottom: 15px;
  color: rgb(15, 27, 65);
  font-family: "微软雅黑";
  .top {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }
  > div:nth-child(2) {
    font-size: 30px;
    font-family: Impact;
  }
  > div:nth-child(3) {
    > span:nth-child(1) {
      font-size: 18px;
      font-family: Impact;
    }
    > span:nth-child(2) {
      font-weight: 500;
    }
  }
  > div:nth-child(4) {
    margin-bottom: 5px;
    > span:nth-child(1) {
      font-family: Impact;
      font-size: 18px;
    }
    > span:nth-child(2) {
      font-weight: 500;
    }
  }
  > div:nth-child(6) {
    font-size: 15px;
    font-family: Impact;
  }
  .img {
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
  }
}
</style>