<template>
  <div id="app">
    <div class="header">
      <div class="header-l">
        <img src="" alt="" />
      </div>
      <div class="header-c">
        <p style="color: red; font-size: 25px; margin: 0; font-weight: bolder">
          ESPACE ETUDIANT
        </p>
        <a-input-search placeholder="RECHERCHE:" style="width: 70%" />
      </div>
      <div class="header-r">
        <a-badge count="4" show-zero>
          <span class="head">
            <img
              class="titile-img"
              style="width: 20px"
              src="@/assets/Source/icon/mail.png"
              alt=""
            />
          </span>
        </a-badge>
        <a-badge count="3" show-zero>
          <span class="head">
            <img
              class="titile-img"
              style="width: 20px"
              src="@/assets/Source/icon/notification.png"
              alt=""
            />
          </span>
        </a-badge>
        <a-badge count="6" show-zero>
          <span class="head">
            <img
              class="titile-img"
              style="width: 20px; height: 20px"
              src="@/assets/Source/icon/shopping.png"
              alt=""
            />
          </span>
        </a-badge>
        <a-select
          default-value="www.microsoft.com"
          style="width: 85px"
          @change="handleChange"
        >
          <a-select-option
            :value="item.value"
            :disabled="item.disabled"
            v-for="item in options"
            :key="item.value"
          >
            <img
              class="titile-img"
              style="width: 20px; margin: -6px 5px 0 0"
              src="@/assets/Source/icon/language.png"
              alt=""
            />
            {{ item.label }}
          </a-select-option>
        </a-select>
        <!-- 头像 -->
        <div style="text-align: center">
          <a-avatar :size="60" icon="user" />
          <p style="margin: 0; font-weight: bolder; font-size: 20px">
            AURELIEN
          </p>
        </div>
      </div>
    </div>
    <Page />
  </div>
</template>

<script>
import Page from "./components/page.vue";
var options = [
  { label: "FR", value: "www.microsoft.com", disabled: false },
  { label: "FT", value: "www.google.com", disabled: false },
  { label: "IT", value: "www.itxst.com", disabled: false },
];
export default {
  name: "App",
  components: {
    Page,
  },
  data() {
    return {
      options: options,
    };
  },
  methods: {
    handleChange(value) {
      console.log("你选择了:" + value);
    },
  },
};
</script>

<style lang="less" scoped>
.header {
  height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #dadede;
  padding-top: 10px;
  padding-bottom: 20px;
  .header-l {
    width: 13%;
    height: 88px;
    background-color: #0f1b41;
    margin-left: 10px;
  }
  ::v-deep .header-c {
    width: 50%;
    .ant-input {
      background: #eeeff0;
      padding-left: 45px;
      height: 45px;
      &::placeholder {
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .ant-input-suffix {
      font-size: 30px;
      right: unset;
      left: 10px;
    }
  }
  .header-r {
    display: flex;
    align-items: flex-end;
    margin-right: 60px;
    width: 20%;
    justify-content: space-between;
    .head {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
    ::v-deep .ant-select-selection {
      background: #231f20;
      color: #fff;
      .ant-select-arrow {
        color: #fff;
      }
    }
  }
}
</style>>

